---
layout: default
permalink: /
---

<!-- Main -->
<main class="l-page__section  l-page__section--expand  c-content  u-margin-bottom--medium  u-margin-bottom--large@medium" id="main" role="main">

	{% include lead.html content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet rhoncus orci. Morbi at risus nec metus vestibulum rhoncus. Vestibulum quis rhoncus dolor, ut mollis est." %}

	<section class="l-container  l-container--large  u-margin-top--xsmall  u-margin-top--large@medium">
		<div class="l-grid  l-grid--middle  u-padding-vertical--small">
			<div class="l-grid__item  l-width--expand@small">
				<h2 class="u-margin--none">Latest Work</h2>
			</div>
			<div class="l-grid__item  l-width--shrink@small  u-hide  u-block@small">
				<a class="c-link  c-link--lime  c-link--small" href="{{ site.baseurl }}/work/">
					View More Work
					<svg class="c-icon  c-icon--small">
						<use xlink:href="{{ site.baseurl }}{{ '/assets/icons/sprite.svg#arrow-right' }}"></use>
					</svg>
				</a>
			</div>
		</div>
		{% assign sorted = (site.work | sort: 'date') | reverse %}
		{% for project in sorted limit:1 %}
			{% unless project.preview %}
				{% include project.html project=project %}
			{% endunless %}
		{% endfor %}
	</section>

	<section class="l-container  l-container--large">
		<div class="l-grid  l-grid--middle  u-padding-vertical--small">
			<div class="l-grid__item  l-width--expand@small">
				<h2 class="u-margin--none">Latest Notes</h2>
			</div>
			<div class="l-grid__item  l-width--shrink@small  u-hide  u-block@small">
				<a class="c-link  c-link--lime  c-link--small" href="{{ site.baseurl }}/notes/">
					View More Notes
					<svg class="c-icon  c-icon--xsmall">
						<use xlink:href="{{ site.baseurl }}{{ '/assets/icons/sprite.svg#arrow-right' }}"></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="l-grid">
			{% assign posts = (site.posts | sort: 'date') | reverse %}
			{% for post in posts limit:2 %}
				{% unless post.preview %}
					{% include post.html %}
				{% endunless %}
			{% endfor %}
		</div>
	</section>
</main>

{% include get-in-touch.html %}
