---
layout: default
permalink: /
---

<!-- Main -->
<main class="u-margin-top--none" id="main">

	{% capture text %}I'm a front-end developer and designer based in Salt Lake City, Utah. I currently hold the position of Senior Web Developer at <a href="https://healthcare.utah.edu" class="c-link  c-link--lime">University of Utah Health</a>.{% endcapture %}
	{% include lead.html content=text %}

	<section class="l-container  l-container--large  u-margin-top--small  u-margin-top--large@medium">
		<div class="l-flex  l-flex--middle  u-padding-bottom--small">
			<div class="l-flex__item  l-width--expand@small">
				<h2 class="c-h2  u-color--grey-darker  u-margin-top--none">Latest Work</h2>
			</div>
			<div class="l-flex__item  l-width--shrink@small  u-hide  u-block@small">
				<a class="c-link  c-link--lime  c-link--small" href="{{ site.baseurl }}/work/">
					View More Work
					<svg class="c-icon  c-icon--small">
						<use xlink:href="{{ site.baseurl }}{{ '/assets/icons/sprite.svg#arrow-right' }}"></use>
					</svg>
				</a>
			</div>
		</div>
		{% assign sorted = site.work | sort: 'date' | reverse %}
		{% for project in sorted limit:1 %}
			{% unless project.preview %}
				{% include project.html project=project %}
			{% endunless %}
		{% endfor %}
	</section>

	<section class="l-container  l-container--large  u-margin-top--xlarge">
		<div class="l-flex  l-flex--middle  u-padding-bottom--small">
			<div class="l-flex__item  l-width--expand@small">
				<h2 class="c-h2  u-color--grey-darker  u-margin-top--none">Latest Notes</h2>
			</div>
			<div class="l-flex__item  l-width--shrink@small  u-hide  u-block@small">
				<a class="c-link  c-link--lime  c-link--small" href="{{ site.baseurl }}/notes/">
					View More Notes
					<svg class="c-icon  c-icon--xsmall">
						<use xlink:href="{{ site.baseurl }}{{ '/assets/icons/sprite.svg#arrow-right' }}"></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="l-flex">
			{% assign posts = site.posts | sort: 'date' | reverse %}
			{% for post in posts limit:2 %}
				{% unless post.preview %}
					{% include post.html %}
				{% endunless %}
			{% endfor %}
		</div>
	</section>
</main>

{% include get-in-touch.html %}
