---
layout: default
permalink: /
---

<!-- Main -->
<main class="c-content  c-sticky-footer__main  u-margin-bottom--xlarge  u-margin-bottom--super@medium" id="main" role="main">

	{% include lead.html content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet rhoncus orci. Morbi at risus nec metus vestibulum rhoncus. Vestibulum quis rhoncus dolor, ut mollis est." %}

	<div class="l-container  l-container--large">
		<div class="l-grid">
			<div class="l-grid__item  l-width--expand@medium">
				<h2>Latest Notes</h2>
			</div>
			<div class="l-grid__item  l-width--shrink@medium">
				<a href="{{ site.baseurl }}/work/">
					View More Notes
					<svg class="c-icon  c-icon--small">
						<use xlink:href="{{ '/assets/icons/sprite.svg#arrow-right' | prepend: site.baseurl }}"></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="l-grid">
		{% for post in site.posts %}
			<div class="l-grid__item  l-width--1/2@small  l-width--1/3@large">
				<article class="c-card">
					<img class="o-image" src="https://unsplash.it/1024/500?random">
					<header class="c-card__header">
						<h3 class="c-h3"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
					</header>
					<div class="c-card__body">
						{{ post.excerpt }}
					</div>
					<footer class="c-card__footer  c-card__footer--block">
						<a class="u-font--sans-serif  u-semibold  u-tracking--slight  u-small  u-uppercase" href="{{ site.baseurl }}{{ post.url }}">
							Read More
							<svg class="c-icon  c-icon--small">
								<use xlink:href="{{ '/assets/icons/sprite.svg#arrow-right' | prepend: site.baseurl }}"></use>
							</svg>
						</a>
					</footer>
				</article>
			</div>
		{% endfor %}
		</div>
	</div>
</main>

{% include get-in-touch.html %}
