---
layout: page
title: Notes
permalink: /notes/
hero: /assets/images/hero-desk.jpg
classes: notes
---

{% include lead.html content="I don&rsquo;t write much, but you&rsquo;ll find a collection of interesting bits gathered from around the web." %}

<section class="l-container  l-container--large  u-margin-top--none">
	<div class="l-grid">
		{% assign posts = site.posts | sort: 'date' | reverse %}
		{% for post in posts %}
			{% unless post.preview %}
				{% include post.html %}
			{% endunless %}
		{% endfor %}
	</div>
</section>
