---
layout: page
title: University of Utah
subtitle: College of Health
hero: /assets/images/hero-coh.jpg
classes: t-work--uucoh
tags:
  - design
  - front-end development
  - back-end development
---

{% include lead.html content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in mauris vel elit porta porta non vel tellus. Phasellus varius pretium lectus, ac scelerisque eros viverra sit amet." %}

<div class="l-container  l-container--medium">
	<div class="l-grid  l-grid--center">
		<div class="l-grid__item  l-width--shrink@medium">
			<button class="c-button  c-button--large  c-button--primary  c-button--expand" disabled>
				Site Offline
			</button>
		</div>
	</div>
</div>

<section class="l-container  l-container--medium  u-margin-top--super">
	<p>This is a special project because it is the first full-stack site I built.</p>
</section>

{% include zoom.html src="/assets/images/work__coh--pt.jpg" alt="Department of Physical Therapy website" %}

<section class="l-container  l-container--medium  c-content">

	<h2>Challenges</h2>

	<p>The timeline was a bit aggressive.</p>

	<h2>Lessons Learned</h2>

	<p>asdf</p>

	<h2>Moving Forward</h2>

	<p>The site was redesigned in 2016 in order to unify the brand. I was a key member of the redesign team. Read more about that project here.</p>

</section>
