---
layout: page
title: TURNS
hero: /assets/images/hero-turns.jpg
classes: t-work--turns
tags:
  - design
  - front-end development
  - back-end development
---

{% capture text %}The Trauma and Urologic Reconstructive Network of Surgeons (TURNS) is a group of urologists focused on urologic trauma and reconstructive patient care.{% endcapture %}
{% include lead.html content=text %}

<div class="l-container  l-container--medium  u-margin-top--none">
	<div class="l-flex  l-flex--center">
		<div class="l-flex__item  l-width--shrink@medium">
			<a class="c-button  c-button--large  c-button--primary  c-button--expand" href="http://turnsresearch.org">
				Visit Website
				<svg class="c-icon  c-icon--small">
					<use xlink:href="{{ site.baseurl }}/assets/icons/sprite.svg#external-link"></use>
				</svg>
			</a>
		</div>
	</div>
</div>

<section class="l-container  l-container--medium  u-margin-top--super@medium">
	<p>I worked with a content specialist to build this patient-focused Urology information website.</p>
</section>

{% include zoom.html src="/assets/images/work__turns--home.jpg" alt="TURNS homepage" %}

<section class="u-background--grey-lighter  u-margin-top--large@medium  u-padding-vertical--large">
	<div class="l-container  l-container--medium  c-content">
		<div class="l-flex">
			<div class="l-flex__item  l-width--expand@medium">
				<h3 class="c-heading--primary">Skills</h3>
				<ul>
					<li>Design</li>
					<li>Typography</li>
					<li>UX/UI</li>
					<li>Programming</li>
				</ul>
			</div>
			<div class="l-flex__item  l-width--expand@medium">
				<h3 class="c-heading--primary">Tools</h3>
				<ul>
					<li>Bolt CMS</li>
					<li>Foundation</li>
					<li>jQuery</li>
					<li>Twig</li>
					<li>MySQL</li>
				</ul>
			</div>
		</div>
	</div>
</section>
