---
layout: page
title: University of Utah
subtitle: College of Health
hero: /assets/images/hero-coh.jpg
classes: t-work--uucoh
tags:
  - design
  - front-end development
  - back-end development
---

{% include lead.html content="University of Utah had recently rolled out a redesign of their website. The College of Health needed a design update that aligned closer to main campus." %}

<div class="l-container  l-container--medium  u-margin-top--none">
	<div class="l-flex  l-flex--center">
		<div class="l-flex__item  l-width--shrink@medium">
			<button class="c-button  c-button--large  c-button--primary  c-button--expand" disabled>
				Site Offline
			</button>
		</div>
	</div>
</div>

<section class="l-container  l-container--medium  u-margin-top--super@medium">
	<p>I acted as full-stack developer on this project and worked closely with a content specialist to roll out websites for the college's seven departments in a short time.</p>
</section>

{% include zoom.html src="/assets/images/work__coh--pt.jpg" alt="Department of Physical Therapy website" %}

<section class="u-background--grey-lighter  u-margin-top--large@medium  u-padding-vertical--large">
	<div class="l-container  l-container--medium  c-content">
		<div class="l-flex">
			<div class="l-flex__item  l-width--expand@medium">
				<h3 class="u-color--red-dark">Skills</h3>
				<ul>
					<li>Prototyping</li>
					<li>Design</li>
					<li>Typography</li>
					<li>UX/UI</li>
					<li>User Testing</li>
				</ul>
			</div>
			<div class="l-flex__item  l-width--expand@medium">
				<h3 class="u-color--red-dark">Tools</h3>
				<ul>
					<li>Photoshop</li>
					<li>Git</li>
					<li>Bootstrap/Less</li>
					<li>jQuery</li>
					<li>Gulp</li>
					<li>PHP</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="l-container  l-container--medium  c-content">
	<h2>Conclusion</h2>
	<p>This project taught me the importance of documenting your work, even when you're the sole developer. In addition, I learned that there is no such thing as too much communication with a client.</p>
	<p>The site was in use for two years until it was redesigned in order to unify all of University of Utah Health's academic sites. I played a key role in the redesign. You can read more about that project <a href="{{ site.baseurl }}/work/uofu-school-of-medicine/">here</a>.</p>
</section>
