---
layout: page
title: University of Utah
subtitle: Health Sciences
hero: /assets/images/hero-uuhsc.jpg
classes: t-work--uuhsc
tags:
  - front-end development
  - back-end development
---

{% capture text %}University of Utah Health Sciences is the umbrella organization that houses all health-related clinics, schools, and research facilities at the University.{% endcapture %}
{% include lead.html content=text %}

<div class="l-container  l-container--medium  u-margin-top--none">
	<div class="l-flex  l-flex--center">
		<div class="l-flex__item  l-width--shrink@medium">
			<a class="c-button  c-button--large  c-button--primary  c-button--expand" href="http://healthsciences.utah.edu">
				Visit Website
				<svg class="c-icon  c-icon--small">
					<use xlink:href="{{ site.baseurl }}/assets/icons/sprite.svg#external-link"></use>
				</svg>
			</a>
		</div>
		<div class="l-flex__item  l-width--shrink@medium">
			<a class="c-button  c-button--large  c-button--ghost  c-button--expand" href="http://healthsciences.utah.edu/style/">
				View Style Guide
				<svg class="c-icon  c-icon--small">
					<use xlink:href="{{ site.baseurl }}/assets/icons/sprite.svg#external-link"></use>
				</svg>
			</a>
		</div>
	</div>
</div>

<section class="l-container  l-container--medium  c-content  u-margin-top--super@medium">
	<p>Working on this site was a great learning experience for my team.
	It featured an early attempt at component-based design, and a primitive style guide&mdash;processes we would refine in later projects.</p>
	<p>My role was primarily working on the front-end. It was built using <a href="http://foundation.zurb.com/">Foundation</a>, <a href="https://jquery.com/">jQuery</a>, and <a href="http://kenwheeler.github.io/slick/">Slick Slider</a>.</p>
	<p>One of our biggest challenges was designing and implementing a responsive content slider featuring news aggregated from various content hubs within the organization.</p>
</section>

{% include zoom.html src="/assets/images/work__uuhsc--home.jpg" alt="University of Utah Health Sciences website" %}
