---
layout: page
title: University of Utah
subtitle: School of Medicine
hero: /assets/images/hero-som.jpg
classes: t-work--uusom
tags:
  - front-end development
  - back-end development
---

{% capture text %}University of Utah School of Medicine is a leader in the fields of genetics, cancer, biomedical informatics, and infectious disease.{% endcapture %}
{% include lead.html content=text %}

<div class="l-container  l-container--medium  u-margin-top--none">
	<div class="l-grid  l-grid--center">
		<div class="l-grid__item  l-width--shrink@medium">
			<a class="c-button  c-button--large  c-button--primary  c-button--expand" href="http://medicine.utah.edu">
				Visit Website
				<svg class="c-icon  c-icon--small">
					<use xlink:href="{{ site.baseurl }}/assets/icons/sprite.svg#external-link"></use>
				</svg>
			</a>
		</div>
		<!--<div class="l-grid__item  l-width--shrink@medium">
			<a class="c-button  c-button--large  c-button--ghost  c-button--expand" href="http://github.com">
				View Code Sample
				<svg class="c-icon  c-icon--small">
					<use xlink:href="{{ site.baseurl }}/assets/icons/sprite.svg#external-link"></use>
				</svg>
			</a>
		</div>-->
	</div>
</div>

<section class="l-container  l-container--medium  u-margin-top--super@medium">
	<p>Over the years, University of Utah School of Medicine's website had become bloated and difficult to navigate.
	Our job was give the organization a cleaner site capable of meeting the needs of both students and researchers.
	The biggest challenge was coming up with a design system capable of accommodating 23 diverse departments.</p>
</section>

{% include zoom.html src="/assets/images/work__uusom--home.jpg" alt="University of Utah, School of Medicine website" %}
