---
layout: page
title: University of Utah
subtitle: Health
hero: /assets/images/hero-uuh.jpg
classes: t-work--uuh
tags:
  - front-end development
---

{% include lead.html content="The University of Utah Health project was a full rebrand designed to reflect the exciting strides the organization has made in research, education, and clinical care." %}

<div class="l-container  l-container--medium  u-margin-top--none">
	<div class="l-flex  l-flex--center">
		<div class="l-flex__item  l-width--shrink@medium">
			<a class="c-button  c-button--large  c-button--primary  c-button--expand" href="http://healthcare.utah.edu">
				Visit Website
				<svg class="c-icon  c-icon--small">
					<use xlink:href="{{ site.baseurl }}/assets/icons/sprite.svg#external-link"></use>
				</svg>
			</a>
		</div>
		<div class="l-flex__item  l-width--shrink@medium">
			<a class="c-button  c-button--large  c-button--ghost  c-button--expand" href="https://utahhealthcare.github.io/rebrand/">
				View Style Guide
				<svg class="c-icon  c-icon--small">
					<use xlink:href="{{ site.baseurl }}/assets/icons/sprite.svg#external-link"></use>
				</svg>
			</a>
		</div>
	</div>
</div>

<section class="l-container  l-container--medium  u-margin-top--super@medium">
	<p>I worked with our designer, Drew Corkill, to create a large-scale, highly modular design system with multiple themes. The project sought to unify the entire University of Utah Health organization and serve patients, students, and researchers from all walks of life. This project was based on an agile approach with many changes and iterations taking place as we progressed.</p>
</section>

{% include zoom.html src="/assets/images/work__uuh--home.jpg" alt="University of Utah Health Homepage" %}

<section class="l-container  l-container--medium  c-content">
	<h2>Themes</h2>
	<p>Careful consideration had to be made in order to structure the project in a way that allowed us to easily swap colors and make minor spacing adjustments for different themes. Huntsman Cancer Institute, a largely autonomous organization within University of Utah Health, has their own branding that our team worked hard to incorporate. Advanced <a href="http://sass-lang.com/">Sass</a> capabilities were utilized to keep the codebase as <a href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself"><abbr title="Don't repeat yourself">DRY</abbr></a> as possible.</p>
</section>

{% include zoom.html src="/assets/images/work__uuh--hcihome.jpg" alt="Huntsman Cancer Institute Homepage" %}

<section class="l-container  l-container--medium  c-content">
	<h2>Documentation</h2>
	<p>The web team at University of Utah Health has grown considerably since I began. In order to keep all of our web developers and content creators on the same page, thorough documentation had to be written. My role was to create a complete pattern library containing all common UI elements used across our sites.</p>
</section>

<section class="u-background--grey-lighter  u-margin-top--large@medium  u-padding-vertical--large">
	<div class="l-container  l-container--medium  c-content">
		<div class="l-flex">
			<div class="l-flex__item  l-width--expand@medium">
				<h3 class="u-color--red-dark">Skills</h3>
				<ul>
					<li>Prototyping</li>
					<li>Documentation</li>
					<li>Cross-Browser Testing</li>
					<li>Performance Optimization</li>
					<li>Search Engine Optimization</li>
				</ul>
			</div>
			<div class="l-flex__item  l-width--expand@medium">
				<h3 class="u-color--red-dark">Tools</h3>
				<ul>
					<li>Git</li>
					<li>Sass</li>
					<li>jQuery</li>
					<li>Gulp</li>
					<li>SVG</li>
					<li><a href="http://trulia.github.io/hologram/">Hologram</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="l-container  l-container--medium  c-content">
	<h2>Conclusion</h2>
	<p>Surveys overwhelmingly indicate users are satisfied with the new design. Patient facing websites have seen measurable increases in web traffic and appointment requests. Our team is still working to impliment and improve the design system throughout our web properties.</p>
</section>
