/* ==========================================================================
   #CONTAINER
   ========================================================================== */




//
// Options
//

$page-namespace: $global-namespace-layouts + 'page' !default;
$page-element: $global-separator-element !default;
$page-modifier: $global-separator-modifier !default;
$page-align-left-name: 'left' !default;
$page-align-center-name: 'center' !default;
$page-align-right-name: 'right' !default;
$page-section-name: 'section' !default;
$page-section-expand-name: 'expand' !default;

$page-map: $global-breakpoints !default;

$page-responsive: true !default;
$page-breakpoints: $global-breakpoints !default;




//
// Mixins
//

@mixin page-classes($breakpoint-alias: null) {

	/**
	 * 1. Making the <body> element behave like a flexbox container.
	 * 2. Making flex children line up vertically (horizontal is default)
	 * 3. Setting the min-height to 100% of the viewport height.
	 * 4. Dumb hack for IE10-11 sizing issues
	 */
	.#{$page-namespace}#{$breakpoint-alias} {
		display: flex; /* [1] */
		flex-direction: column; /* [2] */
		min-height: 100vh; /* [3] */
	}

	/**
	 * Align page horizontally (`.l-page--left` or `.l-page--center` or `.l-page--right`).
	 * Extends `.l-page`.
	 */
	.#{$page-namespace}#{$page-modifier}#{$page-align-left-name}#{$breakpoint-alias} {
		align-items: flex-start;
	}

	.#{$page-namespace}#{$page-modifier}#{$page-align-center-name}#{$breakpoint-alias} {
		align-items: center;
	}

	.#{$page-namespace}#{$page-modifier}#{$page-align-right-name}#{$breakpoint-alias} {
		align-items: flex-end;
	}

	/**
	 * Page section
	 *
	 *  1. Dumb hack for IE10-11 image sizing issues
	 */
	.#{$page-namespace}#{$page-element}#{$page-section-name}#{$breakpoint-alias} {
		margin-top: 0;
		min-height: 1px; /* [1] */
		//overflow-x: hidden; /* [1] */
	}

	/**
	 * Expand section vertically.
	 * When added to main content area, this will make footers 'sticky'.
	 *
	 * Extends `.l-page__section`.
	 */
	.#{$page-namespace}#{$page-element}#{$page-section-name}#{$page-modifier}#{$page-section-expand-name}#{$breakpoint-alias} {
		flex: 1 0 auto;
	}

}




//
// Classes
//

@include page-classes;




//
// Responsive Classes
//

@if ($page-responsive == true) {

	@each $size, $width in $page-breakpoints {

		@include media('>#{$size}') {

			@include page-classes(#{$global-separator-breakpoint + $size});

		}

	}

}
