/* ==========================================================================
   #GRID
   ========================================================================== */




//
// Options
//

$grid-namespace: $global-namespace-layouts + 'grid' !default;
$grid-element: $global-separator-element !default;
$grid-modifier: $global-separator-modifier !default;
$grid-item-name: 'item' !default;

$grid-gutter: $global-spacing-default !default;

$grid-gutter-map: $global-spacing;

$grid-responsive: true !default;
$grid-breakpoints: $global-breakpoints !default;




//
// Mixins
//

@mixin grid-classes($breakpoint-alias: null) {

	@supports (display: grid) {

		.#{$grid-namespace}#{$breakpoint-alias} {
			display: grid;
			grid-gap: $grid-gutter;
		}

		//.#{$grid-namespace}#{$grid-element}#{$grid-item-name}#{$breakpoint-alias} {}

	}

}




//
// Classes
//

@include grid-classes;




//
// Responsive Classes
//

@if ($grid-responsive == true) {

	@each $size, $width in $grid-breakpoints {

		@include media('>#{$size}') {

			@include grid-classes(#{$global-separator-breakpoint + $size});

		}

	}

}
