/* ==========================================================================
   #PULL
   ========================================================================== */




//
// Options
//

$pull-namespace: $global-namespace-layouts + 'pull' !default;
$pull-modifier: $global-separator-modifier !default;

$pull-delimiter-style: $global-delimiter-style !default;

$pull-map: $global-sizing !default;

$pull-responsive: true !default;
$pull-breakpoints: $global-breakpoints !default;




//
// Mixins
//

@mixin pull-classes($widths, $breakpoint-alias: null) {

	// Initialise an empty utility map that will eventually contain all our classes
	$pseudo-class-map: ();

	// Loop widths
	@each $denominator in $widths {

		// If 1=1, 2=2, 3=3; @for will skip over it
		@if ($denominator != 1) {

			// Loop widths as fractions
			@for $numerator from 1 to $denominator {

				// Create class name and set width value
				$class-name: create-class-name($pull-delimiter-style, $numerator, $denominator, $pull-namespace, $pull-modifier, $breakpoint-alias);
				$width-value: percentage($numerator / $denominator);

				// Is this width already in our utility map?
				$duplicate: map-get($pseudo-class-map, $width-value);

				// Create width class
				.#{$class-name} {

					// If this width is in utility map, @extend the duplicate, else create a new one
					@if $duplicate {
						@extend .#{$duplicate};
					} @else {
						margin-right: $width-value;
					}
				}

				// Add this class to utility map
				$add-class: ($width-value: $class-name);
				$pseudo-class-map: map-merge($pseudo-class-map, $add-class);
			}

		}

	}

}




//
// Classes
//

@include pull-classes($pull-map);




//
// Responsive Classes
//

@if ($pull-responsive == true) {

	@each $size, $width in $pull-breakpoints {

		@include media('>#{$size}') {

			@include pull-classes($pull-map, #{$global-separator-breakpoint + $size});

		}

	}

}
