---
layout: default
---

<!-- Main -->
<main class="c-sticky-footer__main" id="main" role="main">

	{% include lead.html content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet rhoncus orci. Morbi at risus nec metus vestibulum rhoncus. Vestibulum quis rhoncus dolor, ut mollis est." %}

	<div class="l-container  l-container--large  u-margin-bottom--super">
		<div class="l-grid">
		{% for post in site.posts %}
			<article class="l-grid__item  l-width--1/2@small  l-width--1/3@large">

				<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

				<div class="entry">
					{{ post.excerpt }}
				</div>

				<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
			</article>
		{% endfor %}
		</div>
	</div>
</main>

{% include get-in-touch.html %}
