//
// Class Naming Structure
//
$global-namespace-components: "c-" !default;
$global-namespace-layouts: "l-" !default;
$global-namespace-themes: "t-" !default;
$global-namespace-utilities: "u-" !default;

$global-separator-element: "__" !default;
$global-separator-modifier: "--" !default;
$global-separator-breakpoint: "#{\@}" !default;
$global-separator-state: "#{\?}" !default;

// Defines the default delimiter for Height, Width, Push and Pull classes
// Options: 'fraction', 'percentage' or 'fragment'
$global-delimiter-style: 'fraction' !default;

//
// Breakpoints
//
$global-breakpoints: (
	'xsmall': 20em,
	'small': 30em,
	'medium': 48em,
	'large': 64em,
	'xlarge': 78em,
	'super': 116em
) !default;

//
// Spacing
//
$global-spacing: (
	'none': 0,
	'tiny': .125em,
	'xsmall': .25em,
	'small': .5em,
	'medium': 1em,
	'large': 1.5em,
	'xlarge': 2em,
	'super': 3em
) !default;

// The default spacing unit is used for margins between common elements,
// grid gutters, indentation and more.
$global-spacing-default: map-get($global-spacing, large) !default;

//
// Sizing
//
$global-sizing: (
	1,
	2,
	3,
	4,
	6
) !default; // Width, height, push, pull denominator values. 2 = 1/2, 3 = 1/3 etc. Add/remove as appropriate

//
// Colors
//
$color-tint: 9 !default;
$color-tint-dark: $color-tint !default;
$color-tint-darker: $color-tint * 2 !default;
$color-tint-light: $color-tint !default;
$color-tint-lighter: $color-tint * 2 !default;

$color-black: #111 !default;
$color-grey: #B0BEC5 !default;
$color-white: #FFF !default;
$color-beige: #F2F2EA !default;
$color-red: #F44336 !default;
$color-pink: #E91E63 !default;
$color-purple: #9C27B0 !default;
$color-blue: #2196F3 !default;
$color-green: #4CAF50 !default;
$color-cyan: #00BCD4 !default;
$color-yellow: #FFEB3B !default;
$color-orange: #FF9800 !default;
$color-brown: #795548 !default;

$color-brand: #2C3E50 !default;
$color-info: $color-blue !default;
$color-warning: $color-orange !default;
$color-success: $color-green !default;
$color-error: $color-red !default;

$color-default: darken($color-grey, $color-tint-dark) !default;
$color-disabled: darken($color-grey, $color-tint-dark) !default;
$color-quiet: darken($color-grey, $color-tint-dark) !default;

$colors: (
	transparent: transparent,
	current: currentColor,
	black: $color-black,
	grey: $color-grey,
	white: $color-white,
	beige: $color-beige,
	red: $color-red,
	pink: $color-pink,
	purple: $color-purple,
	blue: $color-blue,
	green: $color-green,
	cyan: $color-cyan,
	yellow: $color-yellow,
	orange: $color-orange,
	brown: $color-brown,
	brand: $color-brand,
	info: $color-info,
	warning: $color-warning,
	success: $color-success,
	error: $color-error,
	default: $color-default,
	disabled: $color-disabled,
	quiet: $color-quiet,
	grey-dark: darken($color-grey, $color-tint-dark),
	red-dark: darken($color-red, $color-tint-dark),
	pink-dark: darken($color-pink, $color-tint-dark),
	purple-dark: darken($color-purple, $color-tint-dark),
	blue-dark: darken($color-blue, $color-tint-dark),
	green-dark: darken($color-green, $color-tint-dark),
	cyan-dark: darken($color-cyan, $color-tint-dark),
	yellow-dark: darken($color-yellow, $color-tint-dark),
	orange-dark: darken($color-orange, $color-tint-dark),
	brown-dark: darken($color-brown, $color-tint-dark),
	grey-darker: darken($color-grey, $color-tint-darker),
	red-darker: darken($color-red, $color-tint-darker),
	grey-light: lighten($color-grey, $color-tint-light),
	red-light: lighten($color-red, $color-tint-light),
	pink-light: lighten($color-pink, $color-tint-light),
	purple-light: lighten($color-purple, $color-tint-light),
	blue-light: lighten($color-blue, $color-tint-light),
	green-light: lighten($color-green, $color-tint-light),
	cyan-light: lighten($color-cyan, $color-tint-light),
	yellow-light: lighten($color-yellow, $color-tint-light),
	orange-light: lighten($color-orange, $color-tint-light),
	brown-light: lighten($color-brown, $color-tint-light),
	grey-lighter: lighten($color-grey, $color-tint-lighter),
	red-lighter: lighten($color-red, $color-tint-lighter),
	pink-lighter: lighten($color-pink, $color-tint-lighter),
	purple-lighter: lighten($color-purple, $color-tint-lighter),
	blue-lighter: lighten($color-blue, $color-tint-lighter),
	green-lighter: lighten($color-green, $color-tint-lighter),
	cyan-lighter: lighten($color-cyan, $color-tint-lighter),
	yellow-lighter: lighten($color-yellow, $color-tint-lighter),
	orange-lighter: lighten($color-orange, $color-tint-lighter),
	brown-lighter: lighten($color-brown, $color-tint-lighter),
	pink-darker: darken($color-pink, $color-tint-darker),
	purple-darker: darken($color-purple, $color-tint-darker),
	blue-darker: darken($color-blue, $color-tint-darker),
	green-darker: darken($color-green, $color-tint-darker),
	cyan-darker: darken($color-cyan, $color-tint-darker),
	yellow-darker: darken($color-yellow, $color-tint-darker),
	orange-darker: darken($color-orange, $color-tint-darker),
	brown-darker: darken($color-brown, $color-tint-darker),
	brand-dark: darken($color-brand, $color-tint-dark),
	brand-darker: darken($color-brand, $color-tint-darker),
	brand-light: lighten($color-brand, $color-tint-light),
	brand-lighter: lighten($color-brand, $color-tint-lighter),
	info-dark: darken($color-info, $color-tint-dark),
	info-darker: darken($color-info, $color-tint-darker),
	info-light: lighten($color-info, $color-tint-light),
	info-lighter: lighten($color-info, $color-tint-lighter),
	warning-dark: darken($color-warning, $color-tint-dark),
	warning-darker: darken($color-warning, $color-tint-darker),
	warning-light: lighten($color-warning, $color-tint-light),
	warning-lighter: lighten($color-warning, $color-tint-lighter),
	success-dark: darken($color-success, $color-tint-dark),
	success-darker: darken($color-success, $color-tint-darker),
	success-light: lighten($color-success, $color-tint-light),
	success-lighter: lighten($color-success, $color-tint-lighter),
	error-dark: darken($color-error, $color-tint-dark),
	error-darker: darken($color-error, $color-tint-darker),
	error-light: lighten($color-error, $color-tint-light),
	error-lighter: lighten($color-error, $color-tint-lighter)
);

//
// Background Positions
//
$global-background-positions: (
	'center': center center,
	'top': top center,
	'right': center right,
	'bottom': bottom center,
	'left': center left
) !default;

//
// Background Sizes
//
$global-background-sizes: (
	'cover': cover,
	'contain': contain,
	'auto': auto
) !default;

//
// Box Shadows
//
$global-box-shadows: (
	'lowest': #{inset 0 0 1px rgba(map-get($colors, black), .6), inset 0 6px 12px -6px rgba(map-get($colors, black), .2)},
	'lower': #{inset 0 0 1px rgba(map-get($colors, black), .6), inset 0 4px 8px -4px rgba(map-get($colors, black), .2)},
	'low': #{inset 0 0 1px rgba(map-get($colors, black), .6), inset 0 2px 4px -2px rgba(map-get($colors, black), .2)},
	'none': none,
	'high': #{0 0 1px rgba(map-get($colors, black), .6), 0 5px 10px -3px rgba(map-get($colors, black), .4)},
	'higher': #{0 0 1px rgba(map-get($colors, black), .6), 0 10px 25px -4px rgba(map-get($colors, black), .4)},
	'highest': #{0 0 1px rgba(map-get($colors, black), .6), 0 20px 55px -8px rgba(map-get($colors, black), .4)}
) !default;

//
// Border Styles
//
$global-border-styles: (
	'dotted': dotted,
	'dashed': dashed,
	'solid': solid,
	'none': none
) !default;

//
// Border Widths
//
$global-border-widths: (
	'0': 0,
	'1': 1px,
	'2': 2px,
	'3': 3px
) !default;

//
// Clearing
//
$global-clearing: (
	'left': left,
	'right': right,
	'both': both,
	'none': none
) !default;

//
// Column Counts
//
$global-column-counts: (
	'1': 1,
	'2': 2,
	'3': 3,
	'4': 4
) !default;

//
// Font Families
//
$global-font-families: (
	'system': #{-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif},
	'sans-serif': #{"Helvetica Neue", Helvetica, Arial, sans-serif},
	'serif': #{Georgia, Cambria, "Times New Roman", Times, serif},
	'monospace': #{"Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace}
);

//
// Font Sizes
//
$global-font-sizes: (
	'xsmall': .67em,
	'small': .83em,
	'medium': 1em,
	'large': 1.17em,
	'xlarge': 1.5em,
	'super': 2em
) !default;

//
// Font Weights
//
$global-font-weights: (
	'thin': 200,
	'light': 300,
	'regular': 400,
	'medium': 500,
	'semibold': 600,
	'bold': 700,
	'black': 800
) !default;

//
// Letter Spacing
//
$global-letter-spacing: (
	'tight': -.05em,
	'none': 0,
	'xsmall': .01em,
	'small': .025em,
	'medium': .05em,
	'large': .1em,
	'xlarge': .15em,
	'super': .25em
) !default;

//
// Line Heights
//
$global-line-heights: (
	'none': 0,
	'xsmall': 1.125,
	'small': 1.25,
	'medium': 1.5,
	'large': 1.625,
	'xlarge': 1.75,
	'super': 2
) !default;

//
// Order
//
$global-ordering: (
	'first': -1,
	'unordered': 0,
	'last': 1
) !default;

//
// Radii
//
$global-radii: (
	'none': 0,
	'radius': 4px,
	'round': 30em,
	'circle': 100%
) !default;

//
// Ratios
//
$global-ratios: (
	(2:1),
	(4:3),
	(16:9),
	(21:9)
) !default;

//
// Rotations
//
$global-rotations: (
	'0': 0,
	'45': 45,
	'90': 90,
	'135': 135,
	'180': 180,
	'225': 225,
	'270': 270,
	'315': 315
) !default;

//
// Speeds
//
$global-speeds: (
	'instant': 0,
	'fast': 200ms,
	'medium': 300ms,
	'slow': 500ms
) !default;

//
// Z Indexes
//
$global-z-indexes: (
	'under': -100,
	'0': 0,
	'100': 100,
	'200': 200,
	'300': 300,
	'400': 400,
	'500': 500,
	'unset': unset
) !default;

//
// Borders
//
$global-border-width: 1px !default;
$global-border-style: solid !default;
$global-border-color: map-get($colors, default) !default;
$global-border-radius: map-get($global-radii, radius) !default;

//
// Focus styles
//
$border-color-focus: map-get($colors, blue) !default;
$box-shadow-focus: inset 0 0 0 2px lighten($border-color-focus, $color-tint) !default;
