//
// Class Naming Structure
//
$global-namespace-components: "c-" !default;
$global-namespace-layouts: "l-" !default;
$global-namespace-themes: "t-" !default;
$global-namespace-utilities: "u-" !default;

$global-separator-element: "__" !default;
$global-separator-modifier: "--" !default;
$global-separator-breakpoint: "#{\@}" !default;
$global-separator-state: "#{\?}" !default;

// Defines the default delimiter for Height, Width, Push and Pull classes
// Options: 'fraction', 'percentage' or 'fragment'
$global-delimiter-style: 'fraction' !default;

//
// Breakpoints
//
$global-breakpoints: (
	'xsmall': 20em, // 320px
	'small': 30em, // 480px
	'medium': 48em, // 768px
	'large': 64em, // 1024px
	'xlarge': 78em, // 1248px
	'super': 116em // 1856px
) !default;

//
// Spacing
//
$global-spacing: (
	'none': 0,
	'tiny': .125em,
	'xsmall': .25em,
	'small': .5em,
	'medium': 1em,
	'large': 1.5em,
	'xlarge': 2em,
	'super': 3em
) !default;

// The default spacing unit is used for margins between common elements,
// grid gutters, indentation and more.
$global-spacing-default: map-get($global-spacing, large) !default;

//
// Sizing
//
$global-sizing: (
	1,
	2,
	3,
	4,
	6
) !default; // Width, height, push, pull denominator values. 2 = 1/2, 3 = 1/3 etc. Add/remove as appropriate

//
// Colors
//
$colors: (
	transparent: transparent,
	current: currentColor,

	black: #111,
	white: #FFF,

	// grey
	grey-lighter: #f1f3f5,
	grey-light: #dee2e6,
	grey: #adb5bd,
	grey-dark: #495057,
	grey-darker: #212529,

	// red
	red-lighter: #ff6b6b,
	red-light: #fa5252,
	red: #f03e3e,
	red-dark: #e03131,
	red-darker: #c92a2a,

	// pink
	pink-lighter: #f06595,
	pink-light: #e64980,
	pink: #d6336c,
	pink-dark: #c2255c,
	pink-darker: #a61e4d,

	// grape
	grape-lighter: #cc5de8,
	grape-light: #be4bdb,
	grape: #ae3ec9,
	grape-dark: #9c36b5,
	grape-darker: #862e9c,

	// violet
	violet-lighter: #845ef7,
	violet-light: #7950f2,
	violet: #7048e8,
	violet-dark: #6741d9,
	violet-darker: #5f3dc4,

	// indigo
	indigo-lighter: #5c7cfa,
	indigo-light: #4c6ef5,
	indigo: #4263eb,
	indigo-dark: #3b5bdb,
	indigo-darker: #364fc7,

	// blue
	blue-lighter: #329af0,
	blue-light: #228ae6,
	blue: #1c7cd6,
	blue-dark: #1b6ec2,
	blue-darker: #1862ab,

	// cyan
	cyan-lighter: #22b8cf,
	cyan-light: #15aabf,
	cyan: #1098ad,
	cyan-dark: #0c8599,
	cyan-darker: #0b7285,

	// teal
	teal-lighter: #20c997,
	teal-light: #12b886,
	teal: #0ca678,
	teal-dark: #099268,
	teal-darker: #087f5b,

	// green
	green-lighter: #51cf66,
	green-light: #40c057,
	green: #37b24d,
	green-dark: #2f9e44,
	green-darker: #2b8a3e,

	// lime
	lime-lighter: #94d82d,
	lime-light: #82c91e,
	lime: #74b816,
	lime-dark: #66a80f,
	lime-darker: #5c940d,

	// yellow
	yellow-lighter: #fcc419,
	yellow-light: #fab005,
	yellow: #f59f00,
	yellow-dark: #f08c00,
	yellow-darker: #e67700,

	// orange
	orange-lighter: #ff922b,
	orange-light: #fd7e14,
	orange: #f76707,
	orange-dark: #e8590c,
	orange-darker: #d9480f,
);

$social-colors: (
	facebook: #3b5998,
	github: #171515,
	google-plus: #dd4b39,
	instagram: #517fa4,
	linkedin: #007bb6,
	skype: #00AFF0,
	soundcloud: #ff3a00,
	tumblr: #32506d,
	twitter: #00aced,
	vimeo: #aad450,
	vk: #45668e,
	youtube: #bb0000,
	rss: #FF6600,
) !default;

//
// Background Positions
//
$global-background-positions: (
	'center': center center,
	'top': top center,
	'right': center right,
	'bottom': bottom center,
	'left': center left
) !default;

//
// Background Sizes
//
$global-background-sizes: (
	'cover': cover,
	'contain': contain,
	'auto': auto
) !default;

//
// Box Shadows
//
$global-box-shadows: (
	'lowest': #{inset 0 0 1px rgba(map-get($colors, black), .6), inset 0 6px 12px -6px rgba(map-get($colors, black), .2)},
	'lower': #{inset 0 0 1px rgba(map-get($colors, black), .6), inset 0 4px 8px -4px rgba(map-get($colors, black), .2)},
	'low': #{inset 0 0 1px rgba(map-get($colors, black), .6), inset 0 2px 4px -2px rgba(map-get($colors, black), .2)},
	'none': none,
	'high': #{0 0 1px rgba(map-get($colors, black), .6), 0 5px 10px -3px rgba(map-get($colors, black), .4)},
	'higher': #{0 0 1px rgba(map-get($colors, black), .6), 0 10px 25px -4px rgba(map-get($colors, black), .4)},
	'highest': #{0 0 1px rgba(map-get($colors, black), .6), 0 20px 55px -8px rgba(map-get($colors, black), .4)}
) !default;

//
// Border Styles
//
$global-border-styles: (
	'dotted': dotted,
	'dashed': dashed,
	'solid': solid,
	'none': none
) !default;

//
// Border Widths
//
$global-border-widths: (
	'0': 0,
	'1': 1px,
	'2': 2px,
	'3': 3px
) !default;

//
// Clearing
//
$global-clearing: (
	'left': left,
	'right': right,
	'both': both,
	'none': none
) !default;

//
// Column Counts
//
$global-column-counts: (
	'1': 1,
	'2': 2,
	'3': 3,
	'4': 4
) !default;

//
// Font Families
//
$global-font-families: (
	'system': #{-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif},
	'sans-serif': #{"Merriweather Sans", Arial, sans-serif},
	'serif': #{Merriweather, Georgia, Cambria, "Times New Roman", Times, serif},
	'monospace': #{"Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace}
);

//
// Font Sizes
//
$global-font-sizes: (
	'xsmall': .67em,
	'small': .83em,
	'medium': 1em,
	'large': 1.17em,
	'xlarge': 1.5em,
	'super': 2em
) !default;

//
// Font Weights
//
$global-font-weights: (
	'thin': 200,
	'light': 300,
	'regular': 400,
	'medium': 500,
	'semibold': 600,
	'bold': 700,
	'black': 800
) !default;

//
// Letter Spacing
//
$global-letter-spacing: (
	'tight': -.05em,
	'none': 0,
	'xsmall': .01em,
	'small': .025em,
	'medium': .05em,
	'large': .1em,
	'xlarge': .15em,
	'super': .25em
) !default;

//
// Line Heights
//
$global-line-heights: (
	'none': 0,
	'xsmall': 1.125,
	'small': 1.25,
	'medium': 1.5,
	'large': 1.625,
	'xlarge': 1.75,
	'super': 2
) !default;

//
// Order
//
$global-ordering: (
	'first': -1,
	'unordered': 0,
	'last': 1
) !default;

//
// Radii
//
$global-radii: (
	'none': 0,
	'radius': .25em,
	'round': 30em,
	'circle': 100%
) !default;

//
// Ratios
//
$global-ratios: (
	(2:1),
	(4:3),
	(16:9),
	(21:9)
) !default;

//
// Rotations
//
$global-rotations: (
	'0': 0,
	'45': 45,
	'90': 90,
	'135': 135,
	'180': 180,
	'225': 225,
	'270': 270,
	'315': 315
) !default;

//
// Speeds
//
$global-speeds: (
	'instant': 0,
	'fast': 200ms,
	'medium': 300ms,
	'slow': 500ms
) !default;

//
// Z Indexes
//
$global-z-indexes: (
	'under': -100,
	'0': 0,
	'100': 100,
	'200': 200,
	'300': 300,
	'400': 400,
	'500': 500,
	'unset': unset
) !default;

//
// Borders
//
$global-border-width: 1px !default;
$global-border-style: solid !default;
$global-border-color: map-get($colors, grey-light) !default;
$global-border-radius: map-get($global-radii, radius) !default;

//
// Focus styles
//
$border-color-focus: map-get($colors, blue) !default;
$box-shadow-focus: inset 0 0 0 2px $border-color-focus !default;

//
// Lists
//
$list-margin: 0 !default;
$list-padding: 0 0 0 map-get($global-spacing, medium) !default;
$list-unstyled-padding: 0 !default;
$list-unstyled-list-style: none !default;
$list-nested-padding: $list-padding !default;
$list-item-padding: 0 !default;
$list-item-unstyled-list-style: none !default;
$list-ordered-item-padding: 0 map-get($global-spacing, small) 0 0 !default;
$list-inline-padding: 0 !default;
$list-inline-item-padding-right: map-get($global-spacing, medium) !default;
$list-inline-item-bullet-content: "\2022" !default;
$list-inline-item-bullet-padding: 0 map-get($global-spacing, small) 0 0 !default;
