/* ==========================================================================
   #TURNS-THEME
   ========================================================================== */

.t-work--turns {

	.c-header__image-wrapper:after {
		background-color: map-get($colors, cyan-light);
	}

	.c-header__image {
		filter: grayscale(25%);
	}

	.c-meta .c-icon,
	.c-pagination .c-icon {
		color: map-get($colors, orange);
	}

}
