/* ==========================================================================
   #UOFU-COLLEGE-OF-HEALTH-THEME
   ========================================================================== */

.t-work--uucoh {

	.c-header__image-wrapper:after {
		background-color: map-get($colors, red-dark);
	}

	.c-header__image {
		filter: grayscale(50%);

		@include media('>medium') {
			filter: grayscale(50%) blur(2px);
		}
	}

	.c-meta .c-icon,
	.c-pagination .c-icon {
		color: map-get($colors, red-dark);
	}

}
