/* ==========================================================================
   #TURNS-THEME
   ========================================================================== */

.t-work--turns {

	.c-header__image-wrapper:after,
	.c-project__image-wrapper:after {
		background-color: map-get($colors, cyan-light);
	}

	.c-header__image,
	.c-project__image {
		filter: grayscale(25%);
	}

	.c-meta .c-icon,
	.c-pagination .c-icon {
		color: map-get($colors, orange);
	}

	.c-button--primary {
		@include button-color(map-get($colors, orange), map-get($colors, white));
	}

	.c-heading--primary {
		color: map-get($colors, orange);
	}

}
