/* ==========================================================================
   #UOFU-SCHOOL-OF-MEDICINE-THEME
   ========================================================================== */

.t-work--uusom {

	.c-header__image-wrapper:after,
	.c-project__image-wrapper:after {
		background-color: map-get($colors, red);
	}

	.c-header__image,
	.c-project__image {
		filter: grayscale(60%) brightness(0.8);

		@include media('>medium') {
			filter: grayscale(60%) brightness(0.6) blur(1px);
		}
	}

	.c-meta .c-icon,
	.c-pagination .c-icon {
		color: map-get($colors, lime);
	}

}
