/* ==========================================================================
   #HUNTSMAN-THEME
   ========================================================================== */

.t-work--hci {

	.c-header__image-wrapper:after,
	.c-project__image-wrapper:after {
		background-color: map-get($colors, blue);
	}

	.c-header__image,
	.c-project__image {
		filter: grayscale(50%);

		@include media('>medium') {
			filter: grayscale(50%) blur(2px);
		}
	}

}
