/* ==========================================================================
   #UOFU-SCHOOL-OF-MEDICINE-THEME
   ========================================================================== */

.t-work--uusom {

	.c-header__image-wrapper:after {
		background: map-get($colors, red);
		bottom: 0;
		content: '';
		left: 0;
		opacity: 0.25;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;

		@include media('>medium') {
			opacity: 0.5;
		}
	}

	.c-header__image {
		filter: grayscale(60%) brightness(0.8);

		@include media('>medium') {
			filter: grayscale(60%) brightness(0.6) blur(1px);
		}
	}

	.c-meta .c-icon,
	.c-pagination .c-icon {
		color: map-get($colors, lime);
	}

}
