{% unless page.title == 'Contact' %}
<!-- Get in Touch -->
<div class="l-container  l-container--large  u-margin-bottom--large">
	<div class="u-background--grey-darker  u-color--white  u-padding--large">
		<div class="l-grid  l-grid--middle">
			<div class="l-grid__item  l-width--1/2@medium">
				<h4 class="">Like what you see?</h4>
				<p class="u-small  u-margin--none@medium">I'm currently employed full-time, but am available for freelance work if the right project comes along.</p>
			</div>
			<div class="l-grid__item  l-width--1/2@medium  u-right@medium">
				<a class="c-button" href="{{ site.baseurl }}/contact/">Get in Touch</a>
			</div>
		</div>
	</div>
</div>
{% endunless %}
