<!-- Header -->
<header class="c-header {% if page.hero %}c-header--with-image  l-center-block@medium{% endif %}  l-container  l-container--large" role="banner">

	<div class="l-container  l-container--large  {% if page.hero %}l-center-block__content@medium  u-color--white@medium{% endif %}  u-center">

		<h1 class="c-header__text  {% if page.hero %}u-color--white@medium{% endif %}">

			{% if page.title %}
				<span class="c-header__title">{{ page.title }}</span>
			{% endif %}

			{% if page.sub-title %}
				<small class="c-header__subtitle">{{ page.sub-title }}</small>
			{% endif %}

		</h1>

	</div>

	{% if page.hero %}
		<div class="c-header__image-wrapper">
			<img class="c-header__image" src="{{ site.baseurl }}{{ page.hero }}" alt="" />
		</div>
	{% endif %}

</header>
