<!-- Header -->
<header class="l-page__section  c-header {% if page.hero %}c-header--with-image  l-center-block@medium{% endif %}  l-container  l-container--large" role="banner">

	<div class="{% if page.hero %}l-center-block__content@medium  u-color--white@medium{% endif %}  l-width--1/1  u-center">

		<h1 class="c-header__text  {% if page.hero %}u-color--white@medium{% endif %}">

			{% if page.title %}
				<span class="c-header__title">{{ page.title | smartify }}</span>
			{% endif %}

			{% if page.subtitle %}
				<small class="c-header__subtitle">{{ page.subtitle | smartify }}</small>
			{% endif %}

		</h1>

	</div>

	{% if page.hero %}
		<div class="c-header__image-wrapper">
			<img class="c-image  c-header__image" src="{{ site.baseurl }}{{ page.hero }}" alt="" />
		</div>
	{% endif %}

</header>
