{% if page.date or page.tags %}
<div class="l-page__section  c-meta  l-container  l-container--large">
	<div class="c-meta__list">

		{% if page.date %}
			<div class="c-meta__item  c-meta__item--date">
				<svg class="c-meta__icon  c-icon  c-icon--medium">
					<use xlink:href="{{ site.baseurl }}{{ '/assets/icons/sprite.svg#calendar' }}"></use>
				</svg>
				{% if page.layout == 'page' %}
					<time datetime="{{ page.date | date: '%Y' }}">
						{{ page.date | date: "%Y" }}
					</time>
				{% endif %}
				{% if page.layout == 'post' %}
					<time datetime="{{ page.date | date: '%Y-%m-%d' }}">
						{{ page.date | date: "%B %e, %Y" }}
					</time>
				{% endif %}
			</div>
		{% endif %}

		{% if page.layout == 'page' and page.tags %}
			<div class="c-meta__item  c-meta__item--tags">
				<svg class="c-meta__icon  c-icon  c-icon--medium">
					{% if page.layout == 'page' %}
						<use xlink:href="{{ site.baseurl }}{{ '/assets/icons/sprite.svg#wrench' }}"></use>
					{% endif %}
					{% if page.layout == 'post' %}
						<use xlink:href="{{ site.baseurl }}{{ '/assets/icons/sprite.svg#tag' }}"></use>
					{% endif %}
				</svg>
				{{ page.tags | array_to_sentence_string }}
			</div>
		{% endif %}

	</div>
</div>
{% endif %}
