{% if page.date or page.tags %}
<div class="c-meta  l-container  l-container--large  u-padding-vertical--xsmall">
	<ul class="c-meta__list  l-grid  l-grid--center">

		{% if page.date %}
			<li class="c-meta__item  c-meta__item--date  l-grid__item  l-width--shrink@medium">
				<svg class="c-icon  c-icon--medium  c-meta__icon" title="Date Completed">
					<use xlink:href="{{ '/assets/icons/sprite.svg#calendar' | prepend: site.baseurl }}"></use>
				</svg>
				<time date="{{ page.date | date: '%Y-%m-%d' }}" pubdate>{{ page.date | date: "%Y" }}</time>
			</li>
		{% endif %}

		{% if page.tags %}
			<li class="c-meta__item  c-meta__item--tags  l-grid__item  l-width--shrink@medium">
				<svg class="c-icon  c-icon--medium  c-meta__icon" title="Responsibilities">
					<use xlink:href="{{ '/assets/icons/sprite.svg#tag' | prepend: site.baseurl }}"></use>
				</svg>
				{{ page.tags|array_to_sentence_string }}
			</li>
		{% endif %}

	</ul>
</div>
{% endif %}
