{% if page.collection %}

	{% capture the_collection %}{{page.collection}}{% endcapture %}

	{% assign document = site[the_collection] | sort: "date" | reversed %}

	{% for links in document %}

		{% if links.date == page.date %}

			{% unless forloop.first %}
				{% assign prevurl = prev.url %}
				{% assign prevtitle = prev.title %}
			{% endunless %}

			{% unless forloop.last %}
				{% assign next = document[forloop.index] %}
				{% assign nexturl = next.url %}
				{% assign nexttitle = next.title %}
			{% endunless %}

		{% endif %}

		{% assign prev = links %}

	{% endfor %}

	{% if page.layout == 'post' %}
		{% assign allurl = '/notes/' %}
	{% else %}
		{% assign allurl = '/work/' %}
	{% endif %}

{% endif %}

{% if prevurl or nexturl %}
	<!-- Pagination -->
	<div class="c-pagination">
		<div class="l-container  l-container--large">
			<nav class="l-grid  c-pagination__list  u-margin--none">
				<a class="c-pagination__link  c-pagination__link--all  l-grid__item  l-width--1/5@medium  {% if prevurl == nil %}l-push--2/5@medium{% endif %}  u-padding-horizontal--none" href="{{ site.baseurl }}{{ allurl }}">
					<svg class="c-pagination__icon  c-pagination__icon--all  c-icon">
						<use xlink:href="{{ '/assets/icons/sprite.svg#grid' | prepend: site.baseurl }}"></use>
					</svg>
					<span class="u-small  u-margin-top--xsmall@medium">All</span>
				</a>
				{% if prevurl %}
				<a class="c-pagination__link  c-pagination__link--prev  l-grid__item  l-width--2/5@medium  u-padding-horizontal--none" href="{{prevurl}}" rel="prev">
					<svg class="c-pagination__icon  c-pagination__icon--prev  c-icon">
						<use xlink:href="{{ '/assets/icons/sprite.svg#chevron-left' | prepend: site.baseurl }}"></use>
					</svg>
					<span class="u-small  u-margin--none">Prev</span>
				</a>
				{% endif %}
				{% if nexturl %}
				<a class="c-pagination__link  c-pagination__link--next  l-grid__item  l-width--2/5@medium  u-padding-horizontal--none" href="{{nexturl}}" rel="next">
					<svg class="c-pagination__icon  c-pagination__icon--next  c-icon">
						<use xlink:href="{{ '/assets/icons/sprite.svg#chevron-right' | prepend: site.baseurl }}"></use>
					</svg>
					<span class="u-small  u-margin--none">Next</span>
				</a>
				{% endif %}
			</nav>

			<script>
			document.body.onkeyup = function(e) {
				if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
				if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
			};
			</script>

		</div>
	</div>


{% endif %}
