<div class="l-flex__item  l-width--1/2@medium  u-flex">

	<article class="c-card">

		<a class="l-ratio  l-ratio--2:1  c-card__image-wrapper" href="{{ site.baseurl }}{{ post.url }}">
			<img class="l-ratio__content  c-card__image  c-image  u-block" src="https://unsplash.it/1000/500?random" alt="{{ post.title }} thumbnail">
		</a>

		<header class="c-card__header">

			<h2 class="c-h2"><a class="c-card__header-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title | smartify }}</a></h2>

			{% if post.date %}
				{% assign page = post %}
				{% include meta.html %}
			{% endif %}

		</header>

		<div class="c-card__body">
			{{ post.excerpt }}
		</div>

		<footer class="c-card__footer  c-card__footer--block">
			<a class="c-card__button  l-flex  l-flex--around  l-flex--middle  c-link  c-link--small  c-link--lime" href="{{ site.baseurl }}{{ post.url }}">
				<span class="l-flex__item  l-width--expand  u-block">Read More</span>
				<span class="l-flex__item  l-width--shrink  u-block">
					<svg class="c-icon  c-icon--medium">
						<use xlink:href="{{ '/assets/icons/sprite.svg#arrow-right' | prepend: site.baseurl }}"></use>
					</svg>
				</span>
			</a>
		</footer>

	</article>

</div>
