<article class="c-project  {% if project.classes %}{{ project.classes }}{% endif %}  u-margin-bottom--xlarge">

	{% if project.hero %}
	<a class="c-project__image-link" href="{{ project.url }}">
		<div class="c-project__image-wrapper">
			<img class="c-image  c-project__image" src="{{ site.baseurl }}{{ project.hero }}" alt="" />
		</div>
	</a>
	{% endif %}

	<div class="c-project__excerpt">
		<!--<p class="project__time">2016</p>-->
		<h2 class="c-project__title">
			<a class="c-project__link" href="{{ project.url }}">{{ project.title }}{% if project.subtitle %}, {{ project.subtitle }}{% endif %}</a>
		</h2>

		{% if project.date or project.tags %}
		<div class="c-meta">
			<div class="c-meta__list">

				{% if project.date %}
					<div class="c-meta__item  c-meta__item--date">
						<svg class="c-meta__icon  c-icon  c-icon--medium">
							<use xlink:href="{{ '/assets/icons/sprite.svg#calendar' | prepend: site.baseurl }}"></use>
						</svg>
						<time date="{{ project.date | date: '%Y-%m-%d' }}" pubdate>
							{{ project.date | date: "%Y" }}
						</time>
					</div>
				{% endif %}

				{% if project.tags %}
					<div class="c-meta__item  c-meta__item--tags">
						<svg class="c-meta__icon  c-icon  c-icon--medium">
							<use xlink:href="{{ '/assets/icons/sprite.svg#tag' | prepend: site.baseurl }}"></use>
						</svg>
						{{ project.tags | array_to_sentence_string }}
					</div>
				{% endif %}

			</div>
		</div>
		{% endif %}

	</div>

</article>
