{% if site.footer-links.dribbble %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="https://dribbble.com/{{ site.footer-links.dribbble }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#dribbble" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.email %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="mailto:{{ site.footer-links.email }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#mail" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.facebook %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="https://www.facebook.com/{{ site.footer-links.facebook }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#facebook" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.flickr %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="https://www.flickr.com/{{ site.footer-links.flickr }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#flickr" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.github %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="https://github.com/{{ site.footer-links.github }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#github" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.instagram %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="https://instagram.com/{{ site.footer-links.instagram }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#instagram" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.linkedin %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#linkedin" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.pinterest %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#pinterest" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.rss %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="{{ site.baseurl }}/feed.xml">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#rss" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.twitter %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="https://www.twitter.com/{{ site.footer-links.twitter }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#twitter" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.stackoverflow %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#stackoverflow" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.youtube %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="https://youtube.com/{{ site.footer-links.youtube }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#youtube" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
{% if site.footer-links.googleplus %}
<li class="c-list__item">
	<a class="c-footer__social-link" href="https://plus.google.com/{{ site.footer-links.googleplus }}">
		<svg class="c-icon  c-icon--large  c-footer__social-icon">
			<use xlink:href="{{ "/assets/icons/sprite.svg#google-plus" | prepend: site.baseurl }}"></use>
		</svg>
	</a>
</li>
{% endif %}
