/* ==========================================================================
   #SHARED
   ========================================================================== */




/**
 * Shared declarations for certain elements.
 */

html {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1em, 1.25em);

	font-family: map-get($global-font-families, serif);
	line-height: map-get($global-line-heights, large);
}


/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */

/* stylelint-disable selector-list-comma-newline-after */

address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
	margin-bottom: $global-spacing-default;
}


/**
 * Consistent indentation for lists.
 */

dd, ol, ul {
	margin-left: $global-spacing-default;
}

/* stylelint-enable selector-list-comma-newline-after */

img {
	height: auto;
	width: 100%;
}
