/* ==========================================================================
   #SPACING
   ========================================================================== */




/* stylelint-disable selector-list-comma-newline-after */

/**
 * A very simple reset that sits on top of Normalize.css.
 */

* {
	margin: 0;
	padding: 0;
}




/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 *
 * Lobotomized owl technique:
 * alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */

* + * {
	margin-top: $global-spacing-default;
}




/**
 * Remove top margin on some elements
 */

li, dt, dd, option {
	margin-top: 0;
}




/**
 * Consistent indentation for lists.
 */

dd, ol, ul {
	margin-left: $global-spacing-default;
}

/* stylelint-enable selector-list-comma-newline-after */
