/* ==========================================================================
   #CARDS
   ========================================================================== */




//
// Options
//

$card-namespace: $global-namespace-components + 'card' !default;

$card-margin: map-get($global-spacing, small) 0 0 0 !default;
$card-width: 100% !default;
$card-max-height: 280px !default;
$card-background-color: map-get($colors, white) !default;
$card-z-index: map-get($global-z-indexes, 100) !default;
$card-box-shadow: map-get($global-box-shadows, high) !default;
$card-border-radius: 0 !default;
$card-border-width: $global-border-width !default;
$card-border-style: $global-border-style !default;
$card-border-color: $global-border-color !default;
$card-border: $card-border-width $card-border-style $card-border-color !default;

$card-image-padding: map-get($global-spacing, medium) 0 0 !default;
$card-header-padding: map-get($global-spacing, xlarge) map-get($global-spacing, medium) 0 !default;
$card-body-padding: map-get($global-spacing, medium) map-get($global-spacing, medium) map-get($global-spacing, xlarge) !default;
$card-footer-padding: map-get($global-spacing, medium) !default;
$card-footer-block-padding: 0 !default;

$card-item-padding: map-get($global-spacing, small) !default;
$card-item-border-width: $global-border-width !default;
$card-item-border-style: $global-border-style !default;
$card-item-border-color: rgba(map-get($colors, grey-light), .5) !default;
$card-item-border-bottom: $card-item-border-width $card-item-border-style $card-item-border-color !default;

$card-item-hover-background-color: map-get($colors, grey-lighter) !default;
$card-item-hover-color: map-get($colors, grey-lighter) !default;

$card-item-active-background-color: $card-item-border-color !default;
$card-item-active-font-weight: map-get($global-font-families, semibold) !default;

$card-item-disabled-opacity: .6 !default;

$card-item-divider-background-color: map-get($colors, grey-dark) !default;
$card-item-divider-color: map-get($colors, white) !default;
$card-item-divider-font-weight: map-get($global-font-families, semibold) !default;




//
// Classes
//

.c-card {
	border: $card-border;
	//border-radius: $card-border-radius;
	//box-shadow: $card-box-shadow;
	background-color: $card-background-color;
	display: flex;
	flex: 1;
	flex-direction: column;
	font-size: map-get($global-font-sizes, small);
	list-style: $list-unstyled-list-style;
	//overflow: hidden;
	padding: $list-unstyled-padding;

	> .c-image:not(:first-child) {
		padding: map-get($global-spacing, medium) 0 0;
	}
}
/*
.c-card + .c-card {
	margin: -$card-item-border-width;
}
*/
.c-card__image-wrapper {
	background-color: map-get($colors, grey-lighter);
	margin: -$card-item-border-width;
	overflow: hidden;
}

.c-card__image {
	transition: map-get($global-speeds, fast);
	width: 100%;
}

.c-card__image-wrapper:hover .c-card__image {
	transform: scale(1.05);
}

.c-card__header {
	margin: 0;
	padding: $card-header-padding;
	text-align: center;

	.c-heading {
		padding: 0;
	}
}

.c-card__header-link {
	color: map-get($colors, grey-dark);
	font-family: map-get($global-font-families, serif);
	font-weight: map-get($global-font-weights, regular);
	text-decoration: none;
}

.c-card__item,
.c-card__body,
.c-card__footer {
	margin: 0;
}

.c-card__body {
	color: map-get($colors, grey-dark);
	font-family: map-get($global-font-families, serif);
	font-size: map-get($global-font-sizes, small);
	padding: $card-body-padding;
}

.c-card__item + .c-card__footer--block {
	padding: 0;
}

.c-card__footer {
	//background-color: map-get($colors, grey-lighter);
	border-top: $card-border;
	margin-top: auto;
}

.c-card__footer--block {
	padding: 0;

	.c-input-group .c-button:first-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.c-input-group .c-button:last-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.c-card__button {
	padding: map-get($global-spacing, medium);
}

.c-card__item:not(:last-child) {
	border-bottom: $card-item-border-bottom;
}

.c-card--menu {
	display: block;
	width: $card-width;
	max-height: $card-max-height;
	margin: $card-margin;
	z-index: $card-z-index;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.c-card--grouped {
	.c-card__item {
		&:not(:last-child) {
			border-bottom: 0;
		}
	}
}

.c-card__divider {
	height: $card-item-border-width;
	background-color: $card-item-divider-background-color;
	overflow: hidden;
}

.c-card__item--divider {
	background-color: $card-item-divider-background-color;
	color: $card-item-divider-color;
	font-weight: $card-item-divider-font-weight;
}

.c-card__item--disabled {
	cursor: not-allowed;
	opacity: $card-item-disabled-opacity;
}

.c-card--menu .c-card__item:not(.c-card__item--disabled):not(.c-card__item--divider):hover,
.c-card--accordion label.c-card__item:not(.c-card__item--disabled):not(.c-card__item--divider):hover {
	background-color: $card-item-hover-background-color;
	cursor: pointer;
}

.c-card__item--active,
.c-card--accordion > input:checked + .c-card__item {
	background-color: $card-item-active-background-color;
	font-weight: $card-item-active-font-weight;
}
