/* ==========================================================================
   #PROJECTS
   ========================================================================== */

.c-project {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.c-project__excerpt {
	background-color: map-get($colors, white);
	padding: $global-spacing-default / 2;
	text-align: center;

	@include media('<=medium') {
		border: $global-border-width $global-border-style $global-border-color;
		border-top: none;
		width: 100%;
	}

	@include media('>medium') {
		margin: -2.75em $global-spacing-default 0;
		max-width: calc(#{map-get($global-breakpoints, medium)} - (#{$global-spacing-default} * 2));
		width: calc(100% - (#{$global-spacing-default} * 2));
	}
}

.c-project__link {
	color: map-get($colors, grey-dark);
	font-family: map-get($global-font-families, serif);
	font-weight: map-get($global-font-weights, regular);
	text-decoration: none;
}
