/* ==========================================================================
   #PROJECTS
   ========================================================================== */

/**
 * Fix IE10-11 not respecting aspect ratio
 */

.c-project {
	min-height: 1px; /* [1] */
}


.c-project:first-of-type {
	margin-top: 0;
}

.c-project__image-link {
	position: relative;
	transition: map-get($global-speeds, medium);
	z-index: 0;
}

.c-project__image-wrapper {
	line-height: 0;
	min-height: 1px; /* 1 */
	overflow: hidden;
	position: relative;
	z-index: -1;
}

.c-project__image-wrapper:after {
	bottom: 0;
	content: '';
	left: 0;
	opacity: 0.25;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;

	@include media('>medium') {
		opacity: 0.5;
	}
}

.c-project__image {
	transition: map-get($global-speeds, fast);
	width: 100%;
}

.c-project__image-link:hover .c-project__image {
	transform: scale(1.05);
}

.c-project__excerpt {
	background-color: map-get($colors, white);
	margin-top: 0;
	padding: $global-spacing-default / 2;
	text-align: center;
	position: relative;

	@include media('<=medium') {
		border: $global-border-width $global-border-style $global-border-color;
		border-top: none;
		width: 100%;
	}

	@include media('>medium') {
		margin: -2.75em auto 0;
		max-width: calc(#{map-get($global-breakpoints, medium)} - (#{$global-spacing-default} * 2));
		width: calc(100% - (#{$global-spacing-default} * 2));
	}
}

.c-project__link {
	color: map-get($colors, grey-dark);
	font-family: map-get($global-font-families, serif);
	font-weight: map-get($global-font-weights, regular);
	text-decoration: none;
}
