/* ==========================================================================
   #PROJECTS
   ========================================================================== */

/**
 * Fix IE10-11 not respecting aspect ratio
 */

.c-project {
	min-height: 1px; /* [1] */
}

.c-project__image-link {
	position: relative;
	z-index: 0;
}

.c-project__excerpt {
	background-color: map-get($colors, white);
	padding: $global-spacing-default / 2;
	text-align: center;
	position: relative;

	@include media('<=medium') {
		border: $global-border-width $global-border-style $global-border-color;
		border-top: none;
		width: 100%;
	}

	@include media('>medium') {
		margin: -2.75em auto 0;
		max-width: calc(#{map-get($global-breakpoints, medium)} - (#{$global-spacing-default} * 2));
		width: calc(100% - (#{$global-spacing-default} * 2));
	}
}

.c-project__link {
	color: map-get($colors, grey-dark);
	font-family: map-get($global-font-families, serif);
	font-weight: map-get($global-font-weights, regular);
	text-decoration: none;
}
