/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

.c-h1,
.c-h2,
.c-h3,
.c-h4,
.c-h5,
.c-h6 {
	font-family: map-get($global-font-families, sans-serif);
}

.c-h1 {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 2em, 2.5em);
}

.c-h2 {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1.5em, 2em);
}

.c-h3 {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1.25em, 1.5em);
}

.c-h4 {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1.125em, 1.25em);
}




//
// Lead
//

.c-paragraph--lead {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1.125em, 1.75em);
	color: map-get($colors, grey-darker);

	@include media('>medium') {
		color: map-get($colors, grey-dark);
		font-weight: map-get($global-font-weights, light);
	}
}
