/* ==========================================================================
   #PAGINATION
   ========================================================================== */

.c-pagination {
	font-family: map-get($global-font-families, sans-serif);
	text-transform: uppercase;

	@include media('>medium') {
		border-top: $global-border-width $global-border-style $global-border-color;
	}
}

.c-pagination__link {
	padding-bottom: map-get($global-spacing, medium);
	padding-top: map-get($global-spacing, medium);
	text-decoration: none;

	@include media('<=medium') {
		border-top: $global-border-width $global-border-style $global-border-color;
		padding-left: 0;
		padding-right: 0;
	}
}

@include media('>medium') {

	.c-pagination__link--all {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.c-pagination__link--next,
	.c-pagination__link--prev {
		align-items: center;
		display: flex;
	}

	.c-pagination__link--next {
		justify-content: flex-end;
	}

	.c-pagination__link--prev {
		justify-content: flex-start;
	}

	.c-pagination__icon--next {
		order: map-get($global-ordering, last);
	}

}
