/* ==========================================================================
   #ICONS
   ========================================================================== */




//
// Options
//

$icon-namespace: $global-namespace-components + 'icon' !default;
$icon-modifier: $global-separator-modifier !default;

$icon-size-map: (
	xsmall: .5em,
	small: 1em,
	medium: 1.5em,
	large: 2.25em,
	xlarge: 3em,
	super: 5em,
) !default;

$icon-weight-map: (
	ultrathin: 1.5625%,
	thin: 3.125%,
	light: 4.6875%,
	regular: 6.25%,
	semibold: 7.8125%,
	bold: 9.375%,
	heavy: 10.9375%,
) !default;

$icon-joint-map: (
	'bevel': (
		linecap: butt,
		linejoin: bevel,
	),
	'miter': (
		linecap: butt,
		linejoin: miter,
	),
	'round': (
		linecap: round,
		linejoin: round,
	),
) !default;

$icon-responsive: false !default;
$icon-breakpoints: $global-breakpoints !default;




//
// Mixins
//

@mixin icon-classes($breakpoint-alias: null) {

	.#{$icon-namespace}#{$breakpoint-alias} {
		display: inline-block;
		//fill: none;
		margin: .2em;
		font-size: 1em;
		height: 1.5em;
		width: 1.5em;
		//stroke: currentColor;
		stroke-width: inherit;
		stroke-linecap: inherit;
		stroke-linejoin: inherit;
		overflow: visible;
		vertical-align: middle;
	}

	// sizes
	@each $name, $value in $icon-size-map {

		.#{$icon-namespace}#{$icon-modifier}#{$name}#{$breakpoint-alias} {
			height: $value;
			width: $value;
		}

	}

	// weights
	@each $name, $value in $icon-weight-map {

		.#{$icon-namespace}#{$icon-modifier}#{$name}#{$breakpoint-alias} {
			stroke-width: $value;
		}

	}

	// joints
	@each $name, $value in $icon-joint-map {

		.#{$icon-namespace}#{$icon-modifier}#{$name}#{$breakpoint-alias} {
			stroke-linecap: map-get($value, linecap);
			stroke-linejoin: map-get($value, linejoin);
		}

	}

}




//
// Classes
//

@include icon-classes;




//
// Responsive Classes
//

@if ($icon-responsive == true) {

	@each $size, $width in $icon-breakpoints {

		@include media('>#{$size}') {

			@include icon-classes(#{$global-separator-breakpoint + $size});

		}

	}

}
