/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
	background-color: map-get($colors, grey-lighter);
	font-family: map-get($global-font-families, sans-serif);
	text-align: center;
}

.c-footer__social-link {
	color: map-get($colors, grey);
	transition: color map-get($global-speeds, fast);
}

.c-footer__social-iconk {
	display: block;
}

// social media icon hover styles
@each $name, $value in $social-colors {

	.c-footer__social-link--#{$name}:hover {
		color: $value;
	}

}

.c-footer__copyright {
	color: map-get($colors, grey-dark);
	transition: color map-get($global-speeds, fast);
}

.c-footer__copyright-link {
	color: inherit;
	text-decoration-skip: ink;

	&:hover {
		color: map-get($colors, grey-darker);
	}
}
