/* ==========================================================================
   #PAGINATION
   ========================================================================== */




.c-pagination {
	font-family: map-get($global-font-families, sans-serif);
	margin-top: map-get($global-spacing, medium);
	text-transform: uppercase;

	@include media('>medium') {
		border-top: $global-border-width $global-border-style $global-border-color;
		margin-top: map-get($global-spacing, xlarge);
	}
}

.c-pagination__link {
	padding-bottom: map-get($global-spacing, medium);
	padding-top: map-get($global-spacing, medium);
	text-decoration: none;

	@include media('<=medium') {
		border-top: $global-border-width $global-border-style $global-border-color;
	}
}

@include media('>medium') {
	.c-pagination__link--next { text-align: right; }
	.c-pagination__link--prev { text-align: left; }
}

.c-pagination__link--all {
	@include media('>medium') {
		align-items: center;
		display: flex;
		flex-direction: column;
	}
}
