/* ==========================================================================
   #META
   ========================================================================== */

.c-meta {
	color: map-get($colors, grey);
	font-family: map-get($global-font-families, sans-serif);
	font-weight: map-get($global-font-weights, light);
	letter-spacing: map-get($global-letter-spacing, large);
	text-transform: uppercase;
}

.c-meta__list {
	align-items: center;
	//border-bottom: $global-border-width $global-border-style $global-border-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: map-get($global-spacing, small);
	padding-top: map-get($global-spacing, xsmall);

	@include media('>medium') {
		flex-direction: row;
	}
}

.c-meta__item {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), .75em, .825em);

	margin: map-get($global-spacing, small) 0;
	text-align: center;

	@include media('>medium') {
		padding-left: $global-spacing-default;
		padding-right: $global-spacing-default;
	}
}

.c-meta__icon {
	color: map-get($colors, blue);
}
