/* ==========================================================================
   #NAVBAR
   ========================================================================== */

.c-navbar {
    align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.c-navbar__list {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: center;
	list-style: none;
	margin: 0;
}

.c-navbar__list--left,
.c-navbar__list--right {
	justify-content: space-around;
}

@include media('>medium') {
	.c-navbar__list--left {
		order: -1;
	}
	.c-navbar__list--right {
		order: 1;
	}
}
