/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */




//
// Headings
//

.c-h1,
.c-h2,
.c-h3,
.c-h4,
.c-h5,
.c-h6 {
	//color: map-get($colors, grey-darker);
	font-family: map-get($global-font-families, sans-serif);
	font-weight: map-get($global-font-weights, semibold);
}

.c-h1 {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1.5em, 1.75em);
}

.c-h2 {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1.25em, 1.5em);
}

.c-h3 {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1.125em, 1.25em);
}

.c-h4 {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1.125em, 1.25em);
}

.c-h5 {
	font-size: 1em;
}

.c-h6 {
	font-size: 1em;
}

* + .c-h1,
* + .c-h2,
* + .c-h3,
* + .c-h4,
* + .c-h5,
* + .c-h6 {
	margin-top: map-get($global-spacing, small);
}

.c-h1 + *,
.c-h2 + *,
.c-h3 + *,
.c-h4 + *,
.c-h5 + *,
.c-h6 + * {
	margin-top: map-get($global-spacing, small);
}




//
// Lead
//

.c-paragraph--lead {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1.125em, 1.75em);

	color: map-get($colors, grey-dark);
	font-weight: map-get($global-font-weights, light);
}




//
// Horizontal Rule
//

.c-hr {
	border: none;
	position: relative;

	&:after {
		background-color: map-get($colors, blue);
		content: '';
		display: block;
		height: 4px;
		width: 100px;
	}
}
