/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header__text {
	display: flex;
	flex-direction: column;
	font-size: inherit;
	margin: map-get($global-spacing, medium) 0;
	text-align: center;
}

/**
 * 1. IE10 not wrapping title and subtitle text
 */

.c-header__title {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 2em, 3.5em);

	display: block; /* [1] */
	font-weight: map-get($global-font-weights, regular);
	line-height: map-get($global-line-heights, xsmall);
	margin: map-get($global-spacing, tiny) 0;
}

.c-header__subtitle {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1.125em, 1.5em);

	color: map-get($colors, grey);
	display: block; /* [1] */
	font-family: map-get($global-font-families, sans-serif);
	font-weight: map-get($global-font-weights, light);
	letter-spacing: map-get($global-letter-spacing, xlarge);
	margin: map-get($global-spacing, tiny) 0;
	text-transform: uppercase;

	@include media('>medium') {
		color: inherit;
	}
}


/**
 * Flexbug IE10-11 images + aspect ratio (workaround)
 * Expected behavior: Flex item height reflects resized image
 * Actual behavior: Flex item height reflects image height before resizing
 *
 * 1. Add min-height: 1px to the flex item.
 */

.c-header__image-wrapper {
	line-height: 0;
	min-height: 1px; /* 1 */
	overflow: hidden;
	position: relative;
	z-index: -1;
}

/**
 * This code does nothing until a background-color is applied via themes
 */

.c-header__image-wrapper:after {
	bottom: 0;
	content: '';
	left: 0;
	opacity: 0.25;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;

	@include media('>medium') {
		opacity: 0.5;
	}
}

.c-header__image {
	width: 100%;
}
