/* ==========================================================================
   #NAVBAR
   ========================================================================== */

.c-navbar {
	text-transform: uppercase;
}

.c-navbar__list {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: space-around;
	list-style: none;
	margin: 0;
}

.c-navbar__link {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), .75em, .875em);

	color: map-get($colors, grey-dark);
	font-family: map-get($global-font-families, sans-serif);
	font-size: map-get($global-font-sizes, small);
	font-weight: map-get($global-font-weights, light);
	letter-spacing: map-get($global-letter-spacing, xlarge);
	text-decoration: none;
}
