/* ==========================================================================
   #NAVBAR
   ========================================================================== */

/**
* Custom font subset used only for the logo
*/

@font-face {
	font-family: 'norwesterregular';
	src: url('../fonts/norwester-webfont.eot');
	src: url('../fonts/norwester-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/norwester-webfont.woff2') format('woff2'),
	     url('../fonts/norwester-webfont.woff') format('woff'),
	     url('../fonts/norwester-webfont.ttf') format('truetype'),
	     url('../fonts/norwester-webfont.svg#norwesterregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.c-navbar {
	margin-top: 0;
	padding-bottom: map-get($global-spacing, medium);
	padding-top: map-get($global-spacing, medium);
	text-transform: uppercase;

	@include media('>medium') {
		padding-bottom: map-get($global-spacing, large);
		padding-top: map-get($global-spacing, large);
	}
}

//
//
//

@include media('<=medium') {
	.c-navbar__item--logo {
		width: 100%;
	}

	.c-navbar__item:not(.c-navbar__item--logo) {
		margin: 0;
	}
}

@include media('>medium') {
	.c-navbar__item {
		text-align: center;
		width: 16%;
	}
	.c-navbar__item--logo {
		width: 36%;
	}
}


//
// Logo
//

.c-navbar__logo {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 1.75em, 2.25em);

	color: map-get($colors, grey-darker);
	display: block;
	font-family: 'norwesterregular', impact, sans-serif;
	letter-spacing: map-get($global-letter-spacing, small);
	line-height: map-get($global-line-heights, xsmall);
	text-align: center;
	text-decoration: none;

	@include media('>medium') {
		white-space: nowrap;
	}
}

.c-navbar__link {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), .75em, .875em);

	color: map-get($colors, grey);
	display: inline-block;
	font-family: map-get($global-font-families, sans-serif);
	font-size: map-get($global-font-sizes, small);
	font-weight: map-get($global-font-weights, light);
	letter-spacing: map-get($global-letter-spacing, xlarge);
	//margin: map-get($global-spacing, xsmall);
	padding: map-get($global-spacing, xsmall) map-get($global-spacing, small);
	position: relative;
	text-decoration: none;
	transition: color map-get($global-speeds, fast), transform map-get($global-speeds, fast);

	@include media('<=medium') {
		background-color: map-get($colors, grey-lighter);
		border-radius: $global-border-radius;
		color: map-get($colors, grey-dark);
	}

	@include media('>medium') {
		padding: map-get($global-spacing, small) 0;
	}
}

.c-navbar__link:hover {
	color: map-get($colors, grey-dark);
}

@include media('>medium') {
	.c-navbar__link:before {
		background: map-get($colors, grey-light);
		content: '';
		height: 1px;
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
		transform: scaleX(0);
		transition: inherit;
	}

	.c-navbar__link:active:before,
	.c-navbar__link:hover:before {
		transform: scaleX(1);
	}
}
