/* ==========================================================================
   #NAVBAR
   ========================================================================== */

/**
* Custom font subset used only for the logo
*/

@font-face {
	font-family: 'norwesterregular';
	src: url('../fonts/norwester-webfont.eot');
	src: url('../fonts/norwester-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/norwester-webfont.woff2') format('woff2'),
	     url('../fonts/norwester-webfont.woff') format('woff'),
	     url('../fonts/norwester-webfont.ttf') format('truetype'),
	     url('../fonts/norwester-webfont.svg#norwesterregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.c-navbar {
	text-transform: uppercase;
}

//
// Logo
//

.c-navbar__logo {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), 2em, 2.5em);

	color: map-get($colors, grey-darker);
	display: block;
	font-family: 'norwesterregular', impact, sans-serif;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	width: 100%;

	@include media('>medium') {
		width: auto;
	}

}

.c-navbar__list {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: space-around;
	list-style: none;
	margin: 0;

	@include media('>medium') {
		padding: 0 $global-spacing-default;
	}
}

.c-navbar__link {
	@include fluid-type(map-get($global-breakpoints, small), map-get($global-breakpoints, xlarge), .75em, .875em);

	color: map-get($colors, grey);
	font-family: map-get($global-font-families, sans-serif);
	font-size: map-get($global-font-sizes, small);
	font-weight: map-get($global-font-weights, light);
	letter-spacing: map-get($global-letter-spacing, xlarge);
	padding: map-get($global-spacing, small) 0;
	position: relative;
	text-decoration: none;
	transition: map-get($global-speeds, fast);
}

.c-navbar__link:hover {
	color: map-get($colors, grey-dark);
}

@include media('>medium') {
	.c-navbar__link:before {
		background: map-get($colors, grey-light);
		content: '';
		height: 1px;
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
		transform: scaleX(0);
		transition: inherit;
	}

	.c-navbar__link:active:before,
	.c-navbar__link:hover:before {
		transform: scaleX(1);
	}
}
