/* ==========================================================================
   #NAVBAR
   ========================================================================== */

.c-navbar {
	text-transform: uppercase;
}

.c-navbar__list {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: space-around;
	list-style: none;
	margin: 0;
}

.c-navbar__link {
	color: map-get($colors, grey-dark);
	font-family: map-get($global-font-families, sans-serif);
	font-size: map-get($global-font-sizes, small);
	font-weight: map-get($global-font-weights, light);
	letter-spacing: map-get($global-letter-spacing, medium);
	text-decoration: none;

	@include media('>medium') {
		font-size: map-get($global-font-sizes, medium);
		letter-spacing: map-get($global-letter-spacing, large);
	}
}
