/* ==========================================================================
   #PAGINATION
   ========================================================================== */

.c-pagination {
	font-family: map-get($global-font-families, sans-serif);
	text-transform: uppercase;
}

.c-pagination__list {
	@include media('>medium') {
		border-top: $global-border-width $global-border-style $global-border-color;
	}
}

.c-pagination__link {
	color: map-get($colors, grey);
	font-size: map-get($global-font-sizes, small);
	letter-spacing: map-get($global-letter-spacing, medium);
	padding-bottom: map-get($global-spacing, medium);
	padding-top: map-get($global-spacing, medium);
	text-decoration: none;

	@include media('<=medium') {
		border-top: $global-border-width $global-border-style $global-border-color;
		padding-left: 0;
		padding-right: 0;
	}
}

.c-pagination__icon {
	color: map-get($colors, blue);

	@include media('<=medium') {
		margin-right: map-get($global-spacing, xsmall);
	}
}

@include media('>medium') {

	.c-pagination__link--all {
		align-items: center;
		border-left: $global-border-width $global-border-style $global-border-color;
		border-right: $global-border-width $global-border-style $global-border-color;
		display: flex;
		flex-direction: column;
	}

	.c-pagination__link--next,
	.c-pagination__link--prev {
		align-items: center;
		display: flex;
	}

	.c-pagination__link--next {
		justify-content: flex-end;
	}

	.c-pagination__link--prev {
		justify-content: flex-start;
		order: map-get($global-ordering, first);
	}

	.c-pagination__icon--all {
		margin-bottom: map-get($global-spacing, small);
	}

	.c-pagination__icon--next {
		margin-left: map-get($global-spacing, small);
		order: map-get($global-ordering, last);
	}

	.c-pagination__icon--prev {
		margin-right: map-get($global-spacing, small);
	}

}
