---
layout: compress
---

<!doctype html>

<html class="" lang="en">

	<head>

		<!-- Title -->
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

		<!-- Global Metadata-->
		<meta charset="utf-8">
		<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
		<!--[if IE]><meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1"><![endif]-->

		<!-- Page Metadata -->
		<meta name="author" content="{{ site.name }}" />
		{% if page.excerpt %}<meta name="description" content="{{ page.excerpt| strip_html }}" />{% else %}<meta name="description" content="{{ site.description }}">{% endif %}

		<script>
			/**
			 * loadCSS: load a CSS file asynchronously.
			 * [c]2014 @scottjehl, Filament Group, Inc.
			 * Licensed MIT
			 */
			function loadCSS( href, before, media, callback ){
				"use strict";

				var ss = window.document.createElement( "link" );
				var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
				var sheets = window.document.styleSheets;
				ss.rel = "stylesheet";
				ss.href = href;

				ss.media = "only x";

				if( callback ) {
					ss.onload = callback;
				}

				ref.parentNode.insertBefore( ss, ref );

				ss.onloadcssdefined = function( cb ){
					var defined;
					for( var i = 0; i < sheets.length; i++ ){
						if( sheets[ i ].href && sheets[ i ].href === ss.href ){
							defined = true;
						}
					}
					if( defined ){
						cb();
					} else {
						setTimeout(function() {
							ss.onloadcssdefined( cb );
						});
					}
				};

				ss.onloadcssdefined(function() {
					ss.media = media || "all";
				});

				return ss;
			}

			loadCSS('{{ site.baseurl }}/assets/styles/style.css');
			loadCSS('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,600');
			loadCSS('https://fonts.googleapis.com/css?family=Merriweather:300,400');
		</script>

		<!-- Robots & Indexing -->
		<meta name="robots" content="index,follow">
		<meta name="revisit-after" content="1 days">

		<!-- Open Graph -->
		{% if page.title %}<meta property="og:title" content="{{ page.title }}" />{% endif %}
		{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt| strip_html }}" />{% else %}<meta property="og:description" content="{{ site.description }}" />{% endif %}

		<!-- Twitter Card -->
		{% if page.title %}<meta property="twitter:title" content="{{ page.title }}" />{% endif %}
		{% if page.excerpt %}<meta property="twitter:description" content="{{ page.excerpt| strip_html }}" />{% else %}<meta property="twitter:description" content="{{ site.description }}" />{% endif %}

		<!-- Feeds -->
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->

	</head>

	<body class="c-sticky-footer__body">

		<!-- Navigation -->
		<nav class="c-navbar  l-container  l-container--large  u-padding-vertical--small  u-padding-vertical--medium@medium" id="navigation" role="navigation">
			<div class="l-grid  l-grid--middle">
				<div class="c-logo  u-padding-vertical--xsmall">
					<a class="c-logo__link" href="{{ site.baseurl }}/">
						<!--<span class="c-logo__icon"><svg><use xlink:href="{{ site.baseurl }}/assets/icons/sprite.svg#code"></use></svg></span>-->
						<span class="c-logo__name">{{ site.name }}</span>
						<!--<span class="c-logo__title">{{ site.description }}</span>-->
					</a>
				</div>
				<ul class="c-navbar__list  l-order--first@medium">
					<li class="c-navbar__list-item"><a class="c-navbar__link" href="{{ site.baseurl }}/work/">Work</a></li>
					<li class="c-navbar__list-item"><a class="c-navbar__link" href="{{ site.baseurl }}/about/">About</a></li>
				</ul>
				<ul class="c-navbar__list  l-order--last@medium">
					<li class="c-navbar__list-item"><a class="c-navbar__link" href="{{ site.baseurl }}/">Blog</a></li>
					<li class="c-navbar__list-item"><a class="c-navbar__link" href="{{ site.baseurl }}/contact/">Contact</a></li>
				</ul>
			</div>
		</nav>

		<!-- Main -->
		<main class="l-container  l-container--large  c-sticky-footer__main" id="main" role="main">
			{{ content }}
		</main>

		<!-- Footer -->
		<footer class="c-footer  c-sticky-footer__footer  u-background--grey-lighter  u-padding-vertical--large" id="footer" role="contentinfo">
			<div class="l-container  l-container--large">
				<ul class="c-list  c-list--unstyled  c-list--inline  c-footer__social">
					{% include social.html %}
				</ul>
				<p class="c-footer__copyright  u-small  u-margin--none"><strong>©&nbsp;2008-{{ site.time | date: '%Y' }}.</strong> Powered by <a class="c-footer__copyright-link" href="http://jekyllrb.com/">Jekyll</a> and <a class="c-footer__copyright-link" href="https://pages.github.com/">Github Pages</a>. <a class="c-footer__copyright-link" href="https://github.com/mrockwood/mrockwood.github.io">Check out the source</a>.</p>
			</div>
		</footer>

		<!-- loadCSS fallback in case JavaScript is broken -->
		<noscript>
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/styles/style.css" />
			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,600">
			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,400">
		</noscript>

		<!-- Scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" async></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.8/svg4everybody.min.js" async></script>
		<script src="{{ site.baseurl }}/assets/scripts/main.min.js" async></script>

		{% include analytics.html %}

	</body>

</html>
