---
layout: compress
---

<!doctype html>

<html class="" lang="en">

	<head>

		<!-- Title -->
		<title>{% if page.title %}{{ page.title }}{% if page.sub-title %}, {{ page.sub-title }}{% endif %} – {% endif %}{{ site.name }} – {{ site.description }}</title>

		<!-- Global Metadata-->
		<meta charset="utf-8">
		<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
		<!--[if IE]><meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1"><![endif]-->

		<!-- Page Metadata -->
		<meta name="author" content="{{ site.name }}" />
		{% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}" />{% else %}<meta name="description" content="{{ site.description }}">{% endif %}

		<script>
			/**
			 * loadCSS: load a CSS file asynchronously.
			 * [c]2014 @scottjehl, Filament Group, Inc.
			 * Licensed MIT
			 */
			function loadCSS( href, before, media, callback ){
				"use strict";

				var ss = window.document.createElement( "link" );
				var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
				var sheets = window.document.styleSheets;
				ss.rel = "stylesheet";
				ss.href = href;

				ss.media = "only x";

				if( callback ) {
					ss.onload = callback;
				}

				ref.parentNode.insertBefore( ss, ref );

				ss.onloadcssdefined = function( cb ){
					var defined;
					for( var i = 0; i < sheets.length; i++ ){
						if( sheets[ i ].href && sheets[ i ].href === ss.href ){
							defined = true;
						}
					}
					if( defined ){
						cb();
					} else {
						setTimeout(function() {
							ss.onloadcssdefined( cb );
						});
					}
				};

				ss.onloadcssdefined(function() {
					ss.media = media || "all";
				});

				return ss;
			}

			loadCSS('{{ site.baseurl }}/assets/styles/styles.css');
			loadCSS('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,600');
			loadCSS('https://fonts.googleapis.com/css?family=Merriweather:300,400');
		</script>

		<!-- loadCSS fallback in case JavaScript is broken -->
		<noscript>
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/styles/style.css" />
			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,600">
			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,400">
		</noscript>

		<!-- Robots & Indexing -->
		<meta name="robots" content="index,follow">
		<meta name="revisit-after" content="1 days">

		<!-- Open Graph -->
		{% if page.title %}<meta property="og:title" content="{{ page.title }}" />{% endif %}
		{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt| strip_html }}" />{% else %}<meta property="og:description" content="{{ site.description }}" />{% endif %}

		<!-- Twitter Card -->
		{% if page.title %}<meta property="twitter:title" content="{{ page.title }}" />{% endif %}
		{% if page.excerpt %}<meta property="twitter:description" content="{{ page.excerpt| strip_html }}" />{% else %}<meta property="twitter:description" content="{{ site.description }}" />{% endif %}

		<!-- Feeds -->
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

		<!-- Canonical -->
		<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->

	</head>

	<body class="l-page  {% if page.classes %}{{ page.classes }}{% endif %}">

		<!-- Navigation -->
		<nav class="l-page__section  c-navbar  l-container  l-container--large  u-padding-top--medium  u-padding-vertical--large@medium" id="navigation" role="navigation">
			<ul class="l-grid  l-grid--middle  l-grid--around  u-margin-horizontal--none">
				<li class="c-navbar__item  c-navbar__item--logo">
					<a class="c-navbar__logo  u-padding-vertical--small" href="{{ site.baseurl }}/">{{ site.name }}</a>
				</li>
				<li class="c-navbar__item  l-order--first@medium">
					<a class="c-navbar__link  l-order--first@medium" href="{{ site.baseurl }}/work/">Work</a>
				</li>
				<li class="c-navbar__item  l-order--first@medium">
					<a class="c-navbar__link  l-order--first@medium" href="{{ site.baseurl }}/about/">About</a>
				</li>
				<li class="c-navbar__item">
					<a class="c-navbar__link" href="{{ site.baseurl }}/notes/">Notes</a>
				</li>
				<li class="c-navbar__item">
					<a class="c-navbar__link" href="{{ site.baseurl }}/contact/">Contact</a>
				</li>
			</ul>
		</nav>

		{{ content }}

		<!-- Footer -->
		<footer class="l-page__section  c-footer  u-padding-top--large  u-padding-bottom--xlarge" id="footer" role="contentinfo">
			<div class="l-container  l-container--large">
				<ul class="c-list  c-list--unstyled  c-list--inline">
					{% include social.html %}
				</ul>
				<p class="c-footer__copyright  u-xsmall  u-margin-top--large"><strong>©&nbsp;2008-{{ site.time | date: '%Y' }}.</strong> Powered by <a class="c-footer__copyright-link" href="http://jekyllrb.com/">Jekyll</a> and <a class="c-footer__copyright-link" href="https://pages.github.com/">Github Pages</a>. <a class="c-footer__copyright-link" href="https://github.com/mrockwood/mrockwood.github.io">Check out the source</a>.</p>
			</div>
		</footer>

		<!-- Scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.8/svg4everybody.min.js"></script>
		<script src="{{ site.baseurl }}/assets/scripts/main.min.js"></script>

		{% include analytics.html %}

	</body>

</html>
