<!doctype html>

<html class="" lang="en">

	<head>

		<!-- Title -->
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

		<!-- Global Metadata-->
		<meta charset="utf-8">
		<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
		<!--[if IE]><meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1"><![endif]-->

		<!-- Page Metadata -->
		<meta name="author" content="{{ site.name }}" />
		{% if page.excerpt %}<meta name="description" content="{{ page.excerpt| strip_html }}" />{% else %}<meta name="description" content="{{ site.description }}">{% endif %}

		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/styles/style.css" />

		<!-- Fonts -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,600">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,400">

		<!-- Robots & Indexing -->
		<meta name="robots" content="index,follow">
		<meta name="revisit-after" content="1 days">

		<!-- Open Graph -->
		{% if page.title %}<meta property="og:title" content="{{ page.title }}" />{% endif %}
		{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt| strip_html }}" />{% else %}<meta property="og:description" content="{{ site.description }}" />{% endif %}

		<!-- Twitter Card -->
		{% if page.title %}<meta property="twitter:title" content="{{ page.title }}" />{% endif %}
		{% if page.excerpt %}<meta property="twitter:description" content="{{ page.excerpt| strip_html }}" />{% else %}<meta property="twitter:description" content="{{ site.description }}" />{% endif %}

		<!-- Feeds -->
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->

	</head>

	<body>

		<div class="wrapper-masthead">
			<div class="container">
				<header class="masthead clearfix">
					<a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

					<div class="site-info">
						<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
						<p class="site-description">{{ site.description }}</p>
					</div>

					<nav>
						<a href="{{ site.baseurl }}/">Blog</a>
						<a href="{{ site.baseurl }}/work">Work</a>
						<a href="{{ site.baseurl }}/about">About</a>
						<a href="{{ site.baseurl }}/contact">Contact</a>
					</nav>
				</header>
			</div>
		</div>

		<div id="main" role="main" class="l-container  l-container--large">
			{{ content }}
		</div>

		<div class="u-background--grey-lighter  u-padding-vertical--medium">
			<div class="l-container  l-container--large">
				<footer class="u-center">
					{% include social.html %}
				</footer>
			</div>
		</div>

		<!-- Scripts -->
		<script src="{{ site.baseurl }}/assets/scripts/main.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.8/svg4everybody.min.js"></script>

		{% include analytics.html %}

	</body>

</html>
