---
layout: default
---

{% include header.html %}

{% if page.date or page.tags %}
	<div class="l-page__section  l-container  l-container--large  u-padding-vertical--small">
		{% include meta.html %}
	</div>
{% endif %}

<article class="l-page__section  l-page__section--expand  u-margin-top--medium  u-margin-top--xlarge@medium" id="main">

	<div class="c-content  l-container  l-container--medium">
		{{ content }}
	</div>

</article>

{% comment %}{% include disqus.html %}{% endcomment %}

{% include pagination.html %}
