/* ==========================================================================
   #DISPLAY
   ========================================================================== */




//
// Options
//

$display-namespace: $global-namespace-utilities + '' !default;
$display-modifier: '' !default;

$display-map: (
	'hide': none,
	'inline': inline,
	'inline-block': inline-block,
	'block': block,
	'table': table,
	'table-cell': table-cell,
	'flex': flex,
	'inline-flex': inline-flex
) !default;

$display-responsive: true !default;
$display-breakpoints: $global-breakpoints !default;

$display-print: true !default;




//
// Mixins
//

@mixin display-classes($breakpoint-alias: null) {

	@each $name, $value in $display-map {

		.#{$display-namespace}#{$display-modifier}#{$name}#{$breakpoint-alias} {
			display: $value !important;
		}

	}

}




//
// Classes
//

@include display-classes;




//
// Responsive Classes
//

@if ($display-responsive == true) {

	@each $size, $width in $display-breakpoints {

		@include media('>#{$size}') {

			@include display-classes(#{$global-separator-breakpoint + $size});

		}

	}

}




//
// Print Classes
//

@if ($display-print == true) {

	@include media('print') {

		@include display-classes(#{$global-separator-breakpoint + 'print'});

	}

}
