/* ==========================================================================
   #POSITION
   ========================================================================== */




//
// Options
//

$position-namespace: $global-namespace-utilities + '' !default;
$position-modifier: '' !default;

$position-map: (
	'relative': relative,
	'absolute': absolute,
	'fixed': fixed,
	'static': static
) !default;

$position-responsive: false !default;
$position-breakpoints: $global-breakpoints !default;




//
// Mixins
//

@mixin position-classes($breakpoint-alias: null) {

	@each $name, $value in $position-map {

		.#{$position-namespace}#{$position-modifier}#{$name}#{$breakpoint-alias} {
			position: $value !important;
		}

	}

}




//
// Classes
//

@include position-classes;




//
// Responsive Classes
//

@if ($position-responsive == true) {

	@each $size, $width in $position-breakpoints {

		@include media('>#{$size}') {

			@include position-classes(#{$global-separator-breakpoint + $size});

		}

	}

}
