/* ==========================================================================
   #Z-INDEX
   ========================================================================== */




//
// Options
//

$z-index-namespace: $global-namespace-utilities + 'z' !default;
$z-index-modifier: $global-separator-modifier !default;

$z-index-map: $global-z-indexes !default;

$z-index-responsive: false !default;
$z-index-breakpoints: $global-breakpoints !default;




//
// Mixins
//

@mixin z-index-classes($breakpoint-alias: null) {

	@each $name, $value in $z-index-map {

		.#{$z-index-namespace}#{$z-index-modifier}#{$name}#{$breakpoint-alias} {
			z-index: $value !important;
		}

	}

}




//
// Classes
//

@include z-index-classes;




//
// Responsive Classes
//

@if ($z-index-responsive == true) {

	@each $size, $width in $z-index-breakpoints {

		@include media('>#{$size}') {

			@include z-index-classes(#{$global-separator-breakpoint + $size});

		}

	}

}
